<!--
    Load saved searching
-->

<template>
    <div class="page-not-found">
        <h1 class="display-1 mt-5 text-center">Něco se pokazilo</h1>
    </div>
</template>

<script>

    export default {
    }
</script>
