$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1200px
) !default;

$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$body-color: #2d3e50;
$primary: #218c8d;
$aside-bg: #f9f6ec;
$light: #4e7175;

$section-height-offset: 3.125rem;
$section-height: calc(100vh - #{$section-height-offset});
$section-height-offset-phone: 1.375rem;
$section-height-phone: calc(100vh - #{$section-height-offset-phone});


$input-border-color: $light;

$card-border-width: 0;


$nav-tabs-link-active-color: #fff;
$nav-tabs-link-active-bg: $light;
$nav-tabs-border-color: $nav-tabs-link-active-bg;


@import "import/bootstrap";
@import "import/scrollbar";
@import "import/header";
@import "import/aside";
@import "import/search";
@import "import/form";
@import "import/modal";
@import "import/result";
@import "import/detail";
@import "import/location";
@import "import/questions";
@import "import/important-question";
@import "import/favorite-place";
@import "import/nav-tabs";
@import "import/progress-tabs";
@import "import/global";
@import "import/loader";
@import "import/index";
@import "import/user-doc";
@import "import/top-slide";
@import "import/info-message";
@import "import/typography";

img{
    max-width: 100%;
    height: auto;
}

.cursor-pointer{
    cursor: pointer;
}

.add-custom,
.remove{
    padding-top: 80px;
}