aside{
    //padding: 0.5rem 1.5rem unquote(calc(38px + 2rem - #{$section-height-offset}));
    min-height: $section-height;
    background: $aside-bg;
    position: relative;

    @media (max-width: 767px){
        min-height: 1px;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .scrollbar-wrapper{
        height: unquote(calc(100vh - 2.5rem - 38px - #{$section-height-offset}));

        @media (max-width: 767px){
            height: auto;
            width: 100%;
            position: absolute;
            top: 0;
            bottom: calc(2.5rem + 18px);
        }

        .scroll-inner{
            padding: 0.5rem 1.5rem;
        }
    }

    h1{
        @extend .mb-3;
        @extend .display-4;

        @media (max-width: 1024px){
            font-size: 2.2rem;
        }

        @media (max-width: 1023px){
            font-size: 1.7rem;
        }
    }

    .nav{
        @extend .mb-2;
    }

    .next-button{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        .btn{
            padding-top: 1rem;
            padding-bottom: 1rem;

            @media (max-width: 767px){
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
            }
        }
    }
}

.responsive-aside-toggle{
    display: none;
}

.responsive-aside{

    @media(max-width: 767px){
        position: absolute;
        top: $section-height-offset-phone;
        bottom: 0;
        right: 0;
        width: 80%;
        transition: right 0.2s linear;
        z-index: 10;

        &.closed{
            right: -80%;
        }

        .responsive-aside-toggle{
            display: block;
            position: absolute;
            right: 100%;
            top: 50%;
            margin-top: -25px;
            width: 30px;
            height: 50px;
            z-index: 10;
            background: $primary;
            color: #fff;
            text-align: center;
            line-height: 50px;
            font-size: 1.6rem;
        }
    }
}

.responsive-map{
    @media(max-width: 767px){
        width: 100%;
        position: static;

        .vue-map-container{
            width: 100%;
            transition: width 0.2s linear;
        }

        &.closed .vue-map-container{
            width: 20%;
        }
    }
}