.detail{
    background: #fff;

    .scrollbar-wrapper{
        height: calc(65vh - #{$section-height-offset});

        @media(max-width: 767px){
            background: #fff;
            height: auto;
            position: absolute;
            top: unquote(calc(25% + 38px));
            bottom: 0;
            width: 100%;
        }
    }

    p,
    .list-group-item{
        font-size: 1.2rem;

        &.big-text{
            font-size: 1.3rem;
            font-weight: 500;
        }
    }
}