#header{
    padding: 0.7rem 0;
    border-bottom: 1px solid $primary;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 500;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 94%, rgba(33,139,141,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(94%, rgba(255,255,255,1)), color-stop(100%, rgba(33,139,141,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 94%, rgba(33,139,141,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 94%, rgba(33,139,141,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 94%, rgba(33,139,141,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 94%, rgba(33,139,141,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6bdadc', endColorstr='#218b8d', GradientType=0 );

    .nav-link{
        font-size: 1.5rem;
    }

    .toggle-navigation{
        display: none;

        @media(max-width: 1023px){
            display: block;
            float: right;
            margin-top: 3px;
            width: 50px;
            height: 50px;
            background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
        }
    }

    .nav{
        float: right;

        @media(max-width: 1023px){
            float: none;
            display: none;
            clear: left;

            &.opened{
                display: block;
            }
        }
    }
}