.important-question{
    height: $section-height;
    width: 100%;
    background: $aside-bg;

    @media (max-width: 767px){
        height: auto;
        position: absolute;
        top: $section-height-offset-phone;
        bottom: 0;
        width: 100%;
    }

    .scrollbar-wrapper{
        height: $section-height;

        @media (max-width: 767px){
            height: auto;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
        }
    }

    .clearfix{
        background: #fff;

        .float-lg-right{

            @media(min-width: 1024px){
                width: 25%;
            }
        }
    }

    .data{
        padding: 2rem 1rem 1rem;
    }

    .card{
        cursor: pointer;
        transform: scale(0.9);
        transition: transform 0.2s ease;
        border: 1px solid transparent;

        @media (max-width: 767px){
            margin-bottom: 2rem;
        }

        &.selected{
            transform: scale(1);
            @extend .border-primary;
        }

        &.disabled{
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}