.index{
    section{
        padding: 3rem 0;


        &:nth-child(odd){
            background: #f9f9f9;
        }

        p{
            font-size: 1.5rem;
            font-weight: 300;

            &:last-of-type{
                margin-bottom: 0;
            }
        }

        .image-wrap{
            line-height: 180px;
            min-height: 180px;
        }

        .card{
            margin-bottom: 1.8rem;
            background: transparent;
        }

        @media(max-width: 767px){
            .display-1{
                font-size: 2.6rem;
            }

            .display-2{
                font-size: 3.2rem;
            }
        }
    }
}