.overlay{
    display: none;
}

.info-message{
    display: none;
}

.toggle-info-messages{
    position: fixed;
    right: 8px;
    top: 8px;
    z-index: 200;
    color: #fff;
    cursor: pointer;

    @media (max-width: 1023px){
        display: none;
    }
}

.show-info-messages{
    @media (min-width: 1024px) {

        .vue-scrollbar__area{
            margin-top: 0 !important;
            margin-left: 0 !important;
        }

        .overlay{
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.7);
            z-index: 150;
        }

        .info-message-wrap{
            position: relative;
        }

        .info-message{
            display: block;
            position: fixed;
            z-index: 160;
            color: #fff;
            font-size: 2rem;
            margin: 0;
            padding-right: 0;
            text-shadow: 3px 3px 6px black;
            font-family: 'Kalam', cursive;

            &.arrow-1{
                &:after{
                    content: '';
                    position: absolute;
                    right:0;
                    top: 100%;
                    background: url(assets/gfx/arrow-310603_640.png) no-repeat;
                    background-size: 100%;
                    width: 320px;
                    height: 68px;
                }
            }

            &.arrow-2{
                &:after{
                    content: '';
                    position: absolute;
                    left: -60px;
                    top: auto;
                    bottom: 52%;
                    background: url(assets/gfx/arrow-310614_640.png) no-repeat;
                    background-size: 100%;
                    width: 320px;
                    height: 90px;
                }
            }

            &.arrow-3{
                &:after{
                    content: '';
                    position: absolute;
                    left: -60px;
                    top: 57%;
                    background: url(assets/gfx/arrow-310622_640.png) no-repeat;
                    background-size: 100%;
                    width: 320px;
                    height: 128px;
                }
            }

            &.arrow-4{
                &:after{
                    content: '';
                    position: absolute;
                    right: -60px;
                    top: 70%;
                    background: url(assets/gfx/arrow-310623_640.png) no-repeat;
                    background-size: 100%;
                    width: 320px;
                    height: 125px;
                }
            }

            &.arrow-5{
                &:after{
                    content: '';
                    position: absolute;
                    right:0;
                    top: 12%;
                    background: url(assets/gfx/arrow-310627_640.png) no-repeat;
                    background-size: 100%;
                    width: 320px;
                    height: 160px;
                }
            }
        }
    }
}