@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.loader{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50%;
    background: transparent;
    border: 8px solid transparent;
    border-bottom: 8px solid $primary;
    position: relative;
    animation: rotate 2s infinite linear;

    &:before{
        content: '';
        position: absolute;
        top: 9px;
        left: 6px;
        width: 120px;
        height: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-radius: 50%;
        background: transparent;
        border: 5px solid transparent;
        border-bottom: 5px solid lighten($primary, 10);
        animation: rotate 2s infinite linear;
    }

    &:after{
        content: '';
        position: absolute;
        top: 28px;
        left: 20px;
        width: 90px;
        height: 90px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-radius: 50%;
        background: transparent;
        border: 3px solid transparent;
        border-bottom: 3px solid lighten($primary, 33);
        animation: rotate 1s infinite linear;
    }
}