.location{

    .vue-map-container{
        height: $section-height;
        width: 100%;

        @media (max-width: 767px){
            height: auto;
            position: absolute;
            top: $section-height-offset-phone;
            bottom: 0;
        }
    }

    > .row{

        @media (min-width: 768px){
            position: relative;
        }
    }
}