.progress-tabs{
    position: relative;

    &:before{
        content: '';
        position: absolute;
        left:0;
        top: 0;
        width: 50%;
        height: 100%;
        background: $primary;
        z-index: 1;
    }

    &:after{
        content: '';
        position: absolute;
        right:0;
        top: 0;
        width: 50%;
        height: 100%;
        background: lighten($primary, 30%);
        z-index: 1;
    }

    .navbar-nav{
        position: relative;

        &:before{
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 1.56rem 1.56rem 0;
            border-color: transparent lighten($primary, 30%) transparent transparent;
            z-index: 3;

            @media(max-width: 767px){
                border-width: 0 0.84rem 0.84rem 0;
            }
        }

        &:after{
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            position: absolute;
            bottom: 0;
            right: 0;
            border-style: solid;
            border-width: 0 0 1.56rem 1.56rem;
            border-color: transparent transparent lighten($primary, 30%) transparent;
            z-index: 3;

            @media(max-width: 767px){
                border-width: 0 0 0.84rem 0.84rem;
            }
        }
    }

    .nav-item{
        background: $primary;
        cursor: pointer;
        position: relative;
        z-index: 2;

        @media (max-width: 767px){
            display: none;
        }

        &:before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 0;
            right: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 1.56rem 1.56rem 0;
            border-color: transparent $primary transparent transparent;

            @media(max-width: 767px){
                border-width: 0 0.84rem 0.84rem 0;
            }
        }

        &:after{
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            position: absolute;
            bottom: 0;
            right: 100%;
            border-style: solid;
            border-width: 0 0 1.56rem 1.56rem;
            border-color: transparent transparent $primary transparent;

            @media(max-width: 767px){
                border-width: 0 0 0.84rem 0.84rem;
            }
        }

        .nav-link{
            color: rgba(#fff, 0.9);
            padding: 0.8rem 3.56rem 0.8rem 1.44rem;
            white-space: nowrap;

            @media (max-width: 1023px){
                padding: 0.8rem 1.56rem 0.8rem 0.44rem;
            }

            @media(max-width: 767px){
                padding: 0.06rem 1.26rem 0.14rem 0.14rem;
                font-size: 0.8rem;
            }
        }

        &.before-active{
            @media (max-width: 767px){
                display: block;
            }
        }

        &.active{
            background: $light;

            @media (max-width: 767px){
                display: block;

                + * {
                    display: block;
                }
            }

            .nav-link{
                color: #fff;
            }

            &:before{
                border-color: transparent $light transparent transparent;
            }

            &:after{
                border-color: transparent transparent $light transparent;
            }
        }

        &.disabled{
            background: lighten($primary, 30%);
            cursor: auto;

            &:before{
                border-color: transparent lighten($primary, 30%) transparent transparent;
            }

            &:after{
                border-color: transparent transparent lighten($primary, 30%) transparent;
            }

            .nav-link{
                color: rgba($body-color, 0.6);
            }
        }
    }
}