.questions{
    overflow: hidden;

    .answer{
        position: relative;

        input{
            cursor: pointer;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 3;

            &:checked{
                +label{
                    color: #fff;
                    background: #467515;
                    transform: scale(1);
                }
            }
        }

        label{
            height: 200px;
            width: 200px;
            background: #c6d6bb;
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: center;
            transform: scale(0.9);
            transition: transform 0.2s ease;

            @media(max-width: 1024px){
                font-size: 2.5rem;
                height: 160px;
                width: 160px;
            }

            @media(max-width: 1023px){
                font-size: 1.4rem;
                height: 130px;
                width: 130px;
            }

            @media (max-width: 767px){
                width: 100%;
            }
        }
    }
}

.question {
    width:100%;
    text-align: center;
    transition: all .3s linear;

    @media (max-width: 767px){
        position: static;
    }

    .scrollbar-wrapper{
        height: $section-height;

        @media (max-width: 767px){
            height: auto;
            position: absolute;
            top: $section-height-offset-phone;
            width: 100%;
            bottom: 0;
        }
    }

    .d-flex{
        justify-content: space-around;
        flex-wrap: wrap;

        @media (max-width: 767px){
            flex-direction: column;
        }
    }

    h2{
        @extend .display-2;
        margin-bottom: 25px;

        @media(max-width: 1024px){
            font-size: 3.5rem;
        }

        @media(max-width: 1023px){
            font-size: 2.2rem;
        }
    }
}