.result{
    overflow: hidden;

    > .row{
        @media (min-width: 768px){
            position: relative;
        }

        @media (max-width: 767px){
            > *{
                position: static;
            }
        }
    }

    aside{
        @media (max-width: 767px){
            top: $section-height-offset-phone;
        }
    }

    .big-map{
        .vue-map-container{
            height: $section-height !important;

            @media (max-width: 767px){
                height: $section-height-phone !important;
            }
        }
    }

    .responsive-result-detail-hide{
        @extend .btn;
        @extend .btn-primary;


        @media(min-width: 768px){
            position: absolute;
            right: 0;
            z-index: 6;
            font-size: 0;

            svg{
                font-size: 1rem;
            }
        }
    }

    .google-map{
        @media(max-width: 767px){
            position: absolute;
            top: 0;
            bottom: 75%;
            width: 100%;
            z-index: 5;
        }


        .vue-map-container{
            height: 35vh;
            width:100%;

            @media(max-width: 767px){
                height: auto;
                position: absolute;
                top: 0;
                bottom: 0;
            }
        }
    }

    @media(max-width: 767px){

        .responsive-result-detail{
            position: absolute;
            left: 0;
            top: $section-height-offset-phone;
            bottom: 0;
            width: 100%;
            z-index: 10;
            transition: left 0.2s linear;

            .responsive-result-detail-hide {
                display: block;
                position: absolute;
                left: 0;
                top: 25%;
                width: 100%;
            }

            &.closed{
                left: 100%;
            }
        }
    }
}