.search{
    width: 100%;
    height: 100vh;

    @media (max-width: 767px){
        height: auto;
        position: relative;
        overflow: hidden;
    }

    .logo{
        display: block;
        position: fixed;
        max-width: 99px;
        top: 4px;
        left: 30px;
        z-index:5;

        @media (max-width: 1100px) {
            left: 10px;
        }

        @media (max-width: 767px){
            display: none;
        }
    }

    section{
        width: 100%;
        height: $section-height;
        background: #fff;

        @media (max-width: 767px){
            height: auto;
        }
    }
}