section.top-slide{
    padding-top: 80px;
    height: 100vh;
    background: rgba(189,239,239,1);
    background: -moz-linear-gradient(-45deg, rgba(189,239,239,1) 0%, rgba(44,184,186,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(189,239,239,1)), color-stop(100%, rgba(44,184,186,1)));
    background: -webkit-linear-gradient(-45deg, rgba(189,239,239,1) 0%, rgba(44,184,186,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(189,239,239,1) 0%, rgba(44,184,186,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(189,239,239,1) 0%, rgba(44,184,186,1) 100%);
    background: linear-gradient(135deg, rgba(189,239,239,1) 0%, rgba(44,184,186,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bdefef', endColorstr='#2cb8ba', GradientType=1 );
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1{
        color: #fff;
        margin-bottom: 2rem;
    }
}