.user-doc{
    #header{
        @media (max-width: 1199px) and (min-width: 1024px){
            margin-top: 6px;
        }

        .nav-link{
            @media (max-width: 1199px) and (min-width: 1024px){
                font-size: 1rem;
            }
        }
    }

    section{
        padding: 3rem 0;


        &:nth-child(odd){
            background: #f9f9f9;
        }

    }

    @media(max-width: 767px){
        .display-1{
            font-size: 2.6rem;
        }

        .display-2{
            font-size: 3.2rem;
        }
    }
}