<!--
    List own database records
-->

<template>
    <div class="add-custom mb-5">
        <header id="header">
            <div class="container">
                <router-link :to="{ name: 'Index'}"><img src="../../assets/logo_darker.png"></router-link>
            </div>
        </header>
        <div class="container">
            <h1 class="display-1 mb-4">Seznam vlastních záznamů</h1>
            <div class="text-right mb-2">
                <span class="btn btn-success cursor-pointer" v-on:click="addNew">Přidat nový</span>
            </div>
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Typ</th>
                    <th scope="col">Název</th>
                    <th scope="col">Adresa</th>
                    <th scope="col">Kategorie</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="item in data.mapPoi">
                    <th scope="row">Map poi</th>
                    <td>{{item.Name}}</td>
                    <td>{{item.Address}}</td>
                    <td>{{item.Category}}</td>
                    <td class="text-right"><span class="btn btn-primary cursor-pointer" v-on:click="edit(item.Id, 'poi')">Edit</span> <span class="btn btn-danger cursor-pointer" v-on:click="remove(item, 'mapPoi')">&times;</span></td>
                </tr>
                <tr v-for="item in data.realEstate">
                    <th scope="row">Real estate</th>
                    <td>{{item.Name}}</td>
                    <td>{{item.Address}}</td>
                    <td>{{item.Category}}</td>
                    <td class="text-right"><span class="btn btn-primary cursor-pointer" v-on:click="edit(item.Id, 'realEstate')">Edit</span> <span class="btn btn-danger cursor-pointer" v-on:click="remove(item, 'realEstate')">&times;</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    import Error from '@/lib/Error';
    import Header from '@/components/Header';

    export default {
        components: {
            'header-component': Header
        },
        data () {
            return {
                data: {
                    mapPoi: [],
                    realEstate: []
                }
            }
        },
        created(){
            this.connection.get('/api/custom/map-poi').then(response =>{
                let serverData = JSON.parse(response.data);
                if(serverData.Status !== "OK"){
                    new Error(this.$router, response.data);
                    return false;
                }
                this.data.mapPoi = serverData.Data;
            }).catch(err =>{
                new Error(this.$router, err);
            });
            this.connection.get('/api/custom/real-estate').then(response =>{
                let serverData = JSON.parse(response.data);
                if(serverData.Status !== "OK"){
                    new Error(this.$router, response.data);
                    return false;
                }
                this.data.realEstate = serverData.Data;
            }).catch(err =>{
                new Error(this.$router, err);
            });
        },
        methods: {
            remove(item, type){
                let index = this.data[type].indexOf(item);
                this.data[type].splice(index, 1);

                if(type === "mapPoi"){
                    this.connection.delete('/api/custom/map-poi/'+item.Id).then(response =>{
                        let serverData = JSON.parse(response.data);
                        if(serverData.Status !== "OK"){
                            new Error(this.$router, response.data);
                            return false;
                        }
                    }).catch(err =>{
                        new Error(this.$router, err);
                    });
                }else if(type === "realEstate"){
                    this.connection.delete('/api/custom/real-estate/'+item.Id).then(response =>{
                        let serverData = JSON.parse(response.data);
                        if(serverData.Status !== "OK"){
                            new Error(this.$router, response.data);
                            return false;
                        }
                    }).catch(err =>{
                        new Error(this.$router, err);
                    });
                }
            },
            addNew(){
                this.$router.push({ name: 'NewFormAddCustom'})
            },
            edit(id, type){
                this.$router.push({ name: 'EditFormAddCustom', params: { id: id, type: type }})
            }
        }
    }
</script>
