<!--
    Create new own database record
-->

<template>
    <div class="add-custom mb-5">
        <header id="header">
            <div class="container">
                <router-link :to="{ name: 'Index'}"><img src="../../assets/logo_darker.png"></router-link>
            </div>
        </header>
        <div class="container">
            <h1 class="display-1 mb-4">Přidání vlasního záznamu</h1>
            <form v-on:submit.prevent="send">
                <div class="form-group">
                    <label>Typ</label>
                    <select v-model="data.type" class="form-control">
                        <option value="realEstate">Nemovitost</option>
                        <option value="poi">Bod zájmu</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Název</label>
                    <input type="text" v-model="data.Name" class="form-control">
                </div>
                <div class="form-group" v-if="data.type === 'realEstate'">
                    <label>Popis</label>
                    <textarea v-model="data.Info" class="form-control" rows="6"></textarea>
                </div>
                <div class="form-group" v-if="data.type === 'realEstate'">
                    <label>Druh</label>
                    <select v-model="data.Type" class="form-control">
                        <option value="sale">Prodej</option>
                        <option value="rent">Pronájem</option>
                    </select>
                </div>
                <div class="form-group" v-if="data.type === 'realEstate'">
                    <label>Cena</label>
                    <input type="number" v-model.number="data.Price" class="form-control">
                </div>
                <div class="form-group" v-if="data.type === 'realEstate'">
                    <label>Cena hezky</label>
                    <input type="text" v-model="data.PriceNice" class="form-control">
                </div>
                <div class="form-group" v-if="data.type === 'poi'">
                    <label>Kategorie</label>
                    <select v-model="data.Category" class="form-control">
                        <option value="bakery">Pekárna</option>
                        <option value="bar">Bar</option>
                        <option value="bus">Autobusová zastávka</option>
                        <option value="cafe">Kavárna</option>
                        <option value="gym">Posilovna</option>
                        <option value="church">Kostel</option>
                        <option value="library">Knihovna</option>
                        <option value="park">Park</option>
                        <option value="parking">Parkoviště</option>
                        <option value="pharmacy">Lékarna</option>
                        <option value="postOffice">Pošta</option>
                        <option value="restaurant">Restaurace</option>
                        <option value="shop">Obchod</option>
                        <option value="school">Škola</option>
                    </select>
                </div>
                <div class="form-group" v-if="data.type === 'poi'">
                    <label>Url ikona</label>
                    <input type="text" v-model="data.Icon" class="form-control">
                </div>
                <div class="form-group">
                    <label>Adresa</label>
                    <input type="text" v-model="data.Address" class="form-control">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Latitude</label>
                            <input class="form-control" type="number" step="any"
                                   v-model.number="data.LatLocation">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Longitude</label>
                            <input class="form-control" type="number" step="any"
                                   v-model.number="data.LngLocation">
                        </div>
                    </div>
                </div>
                <div class="mb-1">
                    <p class="text-muted mb-0">Nastavte bod pravým tlačítkem na myši.</p>
                    <gmap-map
                            :center="{lat: 49.7271535,lng: 15.4573914}"
                            :zoom="7"
                            style="width: 100%; height: 300px"
                            v-on:rightclick="setPosition"
                    >
                        <gmap-marker
                                :key="'point'"
                                :position="location"
                        ></gmap-marker>
                    </gmap-map>
                </div>
                <div class="form-group text-center">
                    <button class="btn btn-success" type="submit">Přidat</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import Error from '@/lib/Error';
    import Header from '@/components/Header';

    export default {
        components: {
            'header-component': Header
        },
        data () {
            return {
                data: {
                    type: "realEstate",
                    Name: "",
                    Address: "",
                    Price: 0,
                    PriceNice: 0,
                    Type: "sale",
                    Info: "",
                    Icon: "",
                    Category: "bakery",
                    LatLocation: 49.7271535,
                    LngLocation: 15.4573914
                },
                location:{
                    lat: 49.7271535,
                    lng: 15.4573914
                }
            }
        },
        methods: {
            send(){
                if(this.data.type === 'poi'){
                    this.connection.post('/api/custom/map-poi', JSON.stringify(this.data)).then(response =>{
                        let serverData = JSON.parse(response.data);
                        if(serverData.Status !== "OK"){
                            new Error(this.$router, response.data);
                            return false;
                        }
                        this.$router.push({ name: 'ListAddCustom'});
                    }).catch(err =>{
                        new Error(this.$router, err);
                    });
                }else if(this.data.type === 'realEstate'){
                    this.connection.post('/api/custom/real-estate', JSON.stringify(this.data)).then(response =>{
                        let serverData = JSON.parse(response.data);
                        if(serverData.Status !== "OK"){
                            new Error(this.$router, response.data);
                            return false;
                        }
                        this.$router.push({ name: 'ListAddCustom'});
                    }).catch(err =>{
                        new Error(this.$router, err);
                    });
                }
            },
            created(){
                if(this.data.type === 'poi'){
                    this.connection.get('/api/custom/map-poi', JSON.stringify(this.data)).then(response =>{
                        let serverData = JSON.parse(response.data);
                        if(serverData.Status !== "OK"){
                            new Error(this.$router, response.data);
                            return false;
                        }
                        this.$router.push({ name: 'ListAddCustom'});
                    }).catch(err =>{
                        new Error(this.$router, err);
                    });
                }else if(this.data.type === 'realEstate'){
                    this.connection.get('/api/custom/real-estate/', JSON.stringify(this.data)).then(response =>{
                        let serverData = JSON.parse(response.data);
                        if(serverData.Status !== "OK"){
                            new Error(this.$router, response.data);
                            return false;
                        }
                        this.$router.push({ name: 'ListAddCustom'});
                    }).catch(err =>{
                        new Error(this.$router, err);
                    });
                }
            },
            setPosition(e){
                this.data.LatLocation = e.latLng.lat();
                this.data.LngLocation = e.latLng.lng();
                this.location = e.latLng;
            }
        }
    }
</script>
