<!--
    Api Documentation
-->

<template>
    <div class="api-doc">
        <header id="header">
            <div class="container">
                <router-link :to="{ name: 'Index'}"><img src="../assets/logo_darker.png"></router-link>
            </div>
        </header>
        <section class="top-slide text-center">
            <h1 class="display-1">Api documentation</h1>
            <span class="btn btn-lg btn-warning"
                  v-scroll-to="{
                         el: '#start',
                        onStart: ()=> {showNavigation = false}
                     }"
            >
                Read more
            </span>
        </section>
        <section class="text-center" id="start">
            <div class="container" v-for="controller in data">
                <h2 class="display-3">{{controller.url}}</h2>
                <div v-for="request in controller.requests" class="mb-5">
                    <h3 class="display-4">{{request.type}}</h3>
                    <p>{{request.description}}</p>
                    <div class="text-left">
                        <div v-if="request.parameters !== null">
                            <h4>Request Parameters</h4>
                            <div class="table-responsive">
                                <table class="table table-hover table-primary">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="parameter in request.parameters">
                                        <td>{{parameter.name}}</td>
                                        <td>{{parameter.type}}</td>
                                        <td>{{parameter.description}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div v-if="request.response !== null">
                            <h4>Response</h4>
                            <div class="table-responsive">
                                <table class="table table-hover table-success">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="response in request.response">
                                        <td>{{response.name}}</td>
                                        <td>{{response.type}}</td>
                                        <td>{{response.description}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div v-if="request.errors !== null">
                            <h4>Errors</h4>
                            <div class="table-responsive">
                                <table class="table table-hover table-danger">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="error in request.errors">
                                        <td>{{error.name}}</td>
                                        <td>{{error.description}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="mb-5">
            </div>
        </section>
    </div>
</template>

<script>
    import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
    import Vue from 'vue';
    import VueScrollTo from 'vue-scrollto';

    Vue.use(VueScrollTo,{
        duration: 1000,
        offset: -75
    });

    export default {
        name: 'UserDoc',
        components: {
            'font-awesome-icon': FontAwesomeIcon
        },
        data(){
            return{
                showNavigation: false,
                data: [
                    {
                        url: "/api/answer",
                        requests: [
                            {
                                type: "GET",
                                description: "List of answered questions",
                                parameters: null,
                                response: [
                                    {
                                        name: "Id",
                                        type: "string",
                                        description: "Unique id of question"
                                    },
                                    {
                                        name: "Question",
                                        type: "string",
                                        description: "Questions text"
                                    },
                                    {
                                        name: "QuestionShort",
                                        type: "string",
                                        description: "Short name of question"
                                    },
                                    {
                                        name: "Answers",
                                        type: "List<Tuple<int, string>>",
                                        description: "List of answers with number of answer and text"
                                    },
                                    {
                                        name: "Answer",
                                        type: "int",
                                        description: "Number of answered answer"
                                    },
                                    {
                                        name: "Important",
                                        type: "bool",
                                        description: "True if is selected as important"
                                    },
                                ],
                                errors: [
                                    {
                                        name: "FAILED_SEARCH",
                                        description: "Session is not defined"
                                    },
                                    {
                                        name: "FAILED",
                                        description: "Failed to get answers"
                                    }
                                ]
                            },
                            {
                                type: "POST",
                                description: "Set answers for questions",
                                parameters: [
                                    {
                                        name: "Id",
                                        type: "string",
                                        description: "Unique id of question"
                                    },
                                    {
                                        name: "Answer",
                                        type: "int",
                                        description: "Number of answered answer"
                                    },
                                    {
                                        name: "Important",
                                        type: "bool",
                                        description: "True if is selected as important"
                                    },
                                ],
                                response: null,
                                errors: [
                                    {
                                        name: "FAILED_SEARCH",
                                        description: "Session is not defined"
                                    },
                                    {
                                        name: "FAILED_EMPTY_DATA",
                                        description: "No data in body"
                                    },
                                    {
                                        name: "FAILED_INVALID_DATA",
                                        description: "Invalid data in body"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        url: "/api/custom/map-poi",
                        requests: [
                            {
                                type: "GET",
                                description: "Get list of all custom added pois to database",
                                parameters: null,
                                response: [
                                    {
                                        name: "Id",
                                        type: "int",
                                        description: "Unique id"
                                    },
                                    {
                                        name: "Name",
                                        type: "string",
                                        description: "Name of map POI"
                                    },
                                    {
                                        name: "Category",
                                        type: "string",
                                        description: "Category of poi"
                                    },
                                    {
                                        name: "LatLocation",
                                        type: "double",
                                        description: "Latitude"
                                    },
                                    {
                                        name: "LngLocation",
                                        type: "double",
                                        description: "Longitude"
                                    },
                                    {
                                        name: "Address",
                                        type: "string",
                                        description: "Address of poi"
                                    },
                                    {
                                        name: "Icon",
                                        type: "string",
                                        description: "Url to poi icon"
                                    },
                                ],
                                errors: null
                            },
                            {
                                type: "GET /:Id",
                                description: "Get custom added pois to database",
                                parameters: [
                                    {
                                        name: "Id",
                                        type: "int",
                                        description: "Unique id"
                                    },
                                ],
                                response: [
                                    {
                                        name: "Id",
                                        type: "int",
                                        description: "Unique id"
                                    },
                                    {
                                        name: "Name",
                                        type: "string",
                                        description: "Name of map POI"
                                    },
                                    {
                                        name: "Category",
                                        type: "string",
                                        description: "Category of poi"
                                    },
                                    {
                                        name: "LatLocation",
                                        type: "double",
                                        description: "Latitude"
                                    },
                                    {
                                        name: "LngLocation",
                                        type: "double",
                                        description: "longitude"
                                    },
                                    {
                                        name: "Address",
                                        type: "string",
                                        description: "Address of poi"
                                    },
                                    {
                                        name: "Icon",
                                        type: "string",
                                        description: "Url to poi icon"
                                    },
                                ],
                                errors: [
                                    {
                                        name: "FAILED",
                                        description: "Poi not found"
                                    },
                                ]
                            },
                            {
                                type: "POST",
                                description: "Add new custom pois to database",
                                parameters: [
                                    {
                                        name: "Id",
                                        type: "int",
                                        description: "Unique id"
                                    },
                                    {
                                        name: "Name",
                                        type: "string",
                                        description: "Name of map POI"
                                    },
                                    {
                                        name: "Category",
                                        type: "string",
                                        description: "Category of poi"
                                    },
                                    {
                                        name: "LatLocation",
                                        type: "double",
                                        description: "Latitude"
                                    },
                                    {
                                        name: "LngLocation",
                                        type: "double",
                                        description: "longitude"
                                    },
                                    {
                                        name: "Address",
                                        type: "string",
                                        description: "Address of poi"
                                    },
                                    {
                                        name: "Icon",
                                        type: "string",
                                        description: "Url to poi icon"
                                    },
                                ],
                                response: null,
                                errors: [
                                    {
                                        name: "FAILED",
                                        description: "Can not save to database"
                                    },
                                    {
                                        name: "FAILED_EMPTY_DATA",
                                        description: "No data in body"
                                    },
                                ]
                            },
                            {
                                type: "PUT",
                                description: "Update custom pois to database",
                                parameters: [
                                    {
                                        name: "Id",
                                        type: "int",
                                        description: "Unique id"
                                    },
                                    {
                                        name: "Name",
                                        type: "string",
                                        description: "Name of map POI"
                                    },
                                    {
                                        name: "Category",
                                        type: "string",
                                        description: "Category of poi"
                                    },
                                    {
                                        name: "LatLocation",
                                        type: "double",
                                        description: "Latitude"
                                    },
                                    {
                                        name: "LngLocation",
                                        type: "double",
                                        description: "longitude"
                                    },
                                    {
                                        name: "Address",
                                        type: "string",
                                        description: "Address of poi"
                                    },
                                    {
                                        name: "Icon",
                                        type: "string",
                                        description: "Url to poi icon"
                                    },
                                ],
                                response: null,
                                errors: [
                                    {
                                        name: "FAILED",
                                        description: "Can not save to database"
                                    },
                                    {
                                        name: "FAILED_EMPTY_DATA",
                                        description: "No data in body"
                                    },
                                    {
                                        name: "FAILED_NOT_FOUND",
                                        description: "Poi not found"
                                    },
                                ]
                            },

                            {
                                type: "DELETE",
                                description: "Remove custom pois to database",
                                parameters: [
                                    {
                                        name: "Id",
                                        type: "int",
                                        description: "Unique id"
                                    },
                                ],
                                response: null,
                                errors: [
                                    {
                                        name: "FAILED",
                                        description: "Can not save to database"
                                    },
                                    {
                                        name: "FAILED_NOT_FOUND",
                                        description: "Poi not found"
                                    },
                                ]
                            },
                        ]
                    },
                    {
                        url: "/api/custom/real-estate",
                        requests: [
                            {
                                type: "GET",
                                description: "Get list of all custom added real estates to database",
                                parameters: null,
                                response: [
                                    {
                                        name: "Id",
                                        type: "int",
                                        description: "Unique id"
                                    },
                                    {
                                        name: "Name",
                                        type: "string",
                                        description: "Name of map real estate"
                                    },
                                    {
                                        name: "LatLocation",
                                        type: "double",
                                        description: "Latitude"
                                    },
                                    {
                                        name: "LngLocation",
                                        type: "double",
                                        description: "longitude"
                                    },
                                    {
                                        name: "Address",
                                        type: "string",
                                        description: "Address of real estate"
                                    },
                                    {
                                        name: "Info",
                                        type: "string",
                                        description: "Info text"
                                    },
                                    {
                                        name: "Type",
                                        type: "string",
                                        description: "Type of real estate (sale, rent)"
                                    },
                                    {
                                        name: "Price",
                                        type: "int",
                                        description: "Price number"
                                    },
                                    {
                                        name: "PriceNice",
                                        type: "string",
                                        description: "Nice price"
                                    },
                                ],
                                errors: null
                            },
                            {
                                type: "GET /:Id",
                                description: "Get custom added real estates to database",
                                parameters: [
                                    {
                                        name: "Id",
                                        type: "int",
                                        description: "Unique id"
                                    },
                                ],
                                response: [
                                    {
                                        name: "Id",
                                        type: "int",
                                        description: "Unique id"
                                    },
                                    {
                                        name: "Name",
                                        type: "string",
                                        description: "Name of map real estate"
                                    },
                                    {
                                        name: "LatLocation",
                                        type: "double",
                                        description: "Latitude"
                                    },
                                    {
                                        name: "LngLocation",
                                        type: "double",
                                        description: "longitude"
                                    },
                                    {
                                        name: "Address",
                                        type: "string",
                                        description: "Address of real estate"
                                    },
                                    {
                                        name: "Info",
                                        type: "string",
                                        description: "Info text"
                                    },
                                    {
                                        name: "Type",
                                        type: "string",
                                        description: "Type of real estate (sale, rent)"
                                    },
                                    {
                                        name: "Price",
                                        type: "int",
                                        description: "Price number"
                                    },
                                    {
                                        name: "PriceNice",
                                        type: "string",
                                        description: "Nice price"
                                    },
                                ],
                                errors: [
                                    {
                                        name: "FAILED",
                                        description: "Poi not found"
                                    },
                                ]
                            },
                            {
                                type: "POST",
                                description: "Add new custom real estates to database",
                                parameters: [
                                    {
                                        name: "Id",
                                        type: "int",
                                        description: "Unique id"
                                    },
                                    {
                                        name: "Name",
                                        type: "string",
                                        description: "Name of map real estate"
                                    },
                                    {
                                        name: "LatLocation",
                                        type: "double",
                                        description: "Latitude"
                                    },
                                    {
                                        name: "LngLocation",
                                        type: "double",
                                        description: "longitude"
                                    },
                                    {
                                        name: "Address",
                                        type: "string",
                                        description: "Address of real estate"
                                    },
                                    {
                                        name: "Info",
                                        type: "string",
                                        description: "Info text"
                                    },
                                    {
                                        name: "Type",
                                        type: "string",
                                        description: "Type of real estate (sale, rent)"
                                    },
                                    {
                                        name: "Price",
                                        type: "int",
                                        description: "Price number"
                                    },
                                    {
                                        name: "PriceNice",
                                        type: "string",
                                        description: "Nice price"
                                    },
                                ],
                                response: null,
                                errors: [
                                    {
                                        name: "FAILED",
                                        description: "Can not save to database"
                                    },
                                    {
                                        name: "FAILED_EMPTY_DATA",
                                        description: "No data in body"
                                    },
                                ]
                            },
                            {
                                type: "PUT",
                                description: "Update custom real estates to database",
                                parameters: [
                                    {
                                        name: "Id",
                                        type: "int",
                                        description: "Unique id"
                                    },
                                    {
                                        name: "Name",
                                        type: "string",
                                        description: "Name of map real estate"
                                    },
                                    {
                                        name: "LatLocation",
                                        type: "double",
                                        description: "Latitude"
                                    },
                                    {
                                        name: "LngLocation",
                                        type: "double",
                                        description: "longitude"
                                    },
                                    {
                                        name: "Address",
                                        type: "string",
                                        description: "Address of real estate"
                                    },
                                    {
                                        name: "Info",
                                        type: "string",
                                        description: "Info text"
                                    },
                                    {
                                        name: "Type",
                                        type: "string",
                                        description: "Type of real estate (sale, rent)"
                                    },
                                    {
                                        name: "Price",
                                        type: "int",
                                        description: "Price number"
                                    },
                                    {
                                        name: "PriceNice",
                                        type: "string",
                                        description: "Nice price"
                                    },
                                ],
                                response: null,
                                errors: [
                                    {
                                        name: "FAILED",
                                        description: "Can not save to database"
                                    },
                                    {
                                        name: "FAILED_EMPTY_DATA",
                                        description: "No data in body"
                                    },
                                    {
                                        name: "FAILED_NOT_FOUND",
                                        description: "Poi not found"
                                    },
                                ]
                            },

                            {
                                type: "DELETE",
                                description: "Remove custom real estates to database",
                                parameters: [
                                    {
                                        name: "Id",
                                        type: "int",
                                        description: "Unique id"
                                    },
                                ],
                                response: null,
                                errors: [
                                    {
                                        name: "FAILED",
                                        description: "Can not save to database"
                                    },
                                    {
                                        name: "FAILED_NOT_FOUND",
                                        description: "Poi not found"
                                    },
                                ]
                            },
                        ]
                    },
                    {
                        url: "/api/favoriteplace",
                        requests: [
                            {
                                type: "GET",
                                description: "Get list of favorite places",
                                parameters: null,
                                response: [
                                    {
                                        name: "Id",
                                        type: "int",
                                        description: "Unique id"
                                    },
                                    {
                                        name: "Name",
                                        type: "string",
                                        description: "Name of favorite place"
                                    },
                                    {
                                        name: "Location",
                                        type: "LocationData: {lat: double, lng: double}",
                                        description: "Location of favorite place"
                                    },
                                    {
                                        name: "Type",
                                        type: "string",
                                        description: "Type of travel"
                                    },
                                    {
                                        name: "Rate",
                                        type: "int",
                                        description: "Rate of favorite place"
                                    },
                                    {
                                        name: "Hover",
                                        type: "bool",
                                        description: "Is hover on item (FE stuff)"
                                    },
                                ],
                                errors: [
                                    {
                                        name: "FAILED_SEARCH",
                                        description: "Session is not defined"
                                    }
                                ]
                            },
                            {
                                type: "POST",
                                description: "Set favorite places",
                                parameters: [
                                    {
                                        name: "Id",
                                        type: "int",
                                        description: "Unique id"
                                    },
                                    {
                                        name: "Name",
                                        type: "string",
                                        description: "Name of favorite place"
                                    },
                                    {
                                        name: "Location",
                                        type: "LocationData: {lat: double, lng: double}",
                                        description: "Location of favorite place"
                                    },
                                    {
                                        name: "Type",
                                        type: "string",
                                        description: "Type of travel"
                                    },
                                    {
                                        name: "Rate",
                                        type: "int",
                                        description: "Rate of favorite place"
                                    },
                                    {
                                        name: "Hover",
                                        type: "bool",
                                        description: "Is hover on item (FE stuff)"
                                    },
                                ],
                                response: null,
                                errors: [
                                    {
                                        name: "FAILED_SEARCH",
                                        description: "Session is not defined"
                                    },
                                    {
                                        name: "FAILED_EMPTY_DATA",
                                        description: "No data in body"
                                    },
                                    {
                                        name: "FAILED_INVALID_DATA",
                                        description: "Invalid data in body"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        url: "/api/location",
                        requests: [
                            {
                                type: "GET",
                                description: "Get location",
                                parameters: null,
                                response: [
                                    {
                                        name: "lat",
                                        type: "double",
                                        description: "Latitude"
                                    },
                                    {
                                        name: "lng",
                                        type: "double",
                                        description: "Longitude"
                                    },
                                    {
                                        name: "radius",
                                        type: "int",
                                        description: "Radius from point to search"
                                    },
                                ],
                                errors: [
                                    {
                                        name: "FAILED_SEARCH",
                                        description: "Session is not defined"
                                    }
                                ]
                            },
                            {
                                type: "POST",
                                description: "Set location",
                                parameters: [
                                    {
                                        name: "lat",
                                        type: "double",
                                        description: "Latitude"
                                    },
                                    {
                                        name: "lng",
                                        type: "double",
                                        description: "Longitude"
                                    },
                                    {
                                        name: "radius",
                                        type: "int",
                                        description: "Radius from point to search"
                                    },
                                ],
                                response: null,
                                errors: [
                                    {
                                        name: "FAILED_SEARCH",
                                        description: "Session is not defined"
                                    },
                                    {
                                        name: "FAILED_EMPTY_DATA",
                                        description: "No data in body"
                                    },
                                    {
                                        name: "FAILED_INVALID_DATA",
                                        description: "Invalid data in body"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        url: "/api/question",
                        requests: [
                            {
                                type: "GET",
                                description: "Get status of searching questions",
                                parameters: null,
                                response: [
                                    {
                                        name: "",
                                        type: "double",
                                        description: "Number of done questions 0 - 1"
                                    }
                                ],
                                errors: [
                                    {
                                        name: "FAILED_SEARCH",
                                        description: "Search failed"
                                    }
                                ]
                            },
                            {
                                type: "GET /done",
                                description: "Get questions list",
                                parameters: null,
                                response: [
                                    {
                                        name: "Id",
                                        type: "string",
                                        description: "Unique id of question"
                                    },
                                    {
                                        name: "Question",
                                        type: "string",
                                        description: "Questions text"
                                    },
                                    {
                                        name: "QuestionShort",
                                        type: "string",
                                        description: "Short name of question"
                                    },
                                    {
                                        name: "Answers",
                                        type: "List<Tuple<int, string>>",
                                        description: "List of answers with number of answer and text"
                                    },
                                    {
                                        name: "Answer",
                                        type: "int",
                                        description: "Number of answered answer"
                                    },
                                    {
                                        name: "Important",
                                        type: "bool",
                                        description: "True if is selected as important"
                                    },
                                ],
                                errors: [
                                    {
                                        name: "FAILED_SEARCH",
                                        description: "Search failed"
                                    }
                                ]
                            }, {
                                type: "POST",
                                description: "Start searching for questions",
                                parameters: null,
                                response: [
                                    {
                                        name: "Id",
                                        type: "string",
                                        description: "Unique id of question"
                                    },
                                    {
                                        name: "Question",
                                        type: "string",
                                        description: "Questions text"
                                    },
                                    {
                                        name: "QuestionShort",
                                        type: "string",
                                        description: "Short name of question"
                                    },
                                    {
                                        name: "Answers",
                                        type: "List<Tuple<int, string>>",
                                        description: "List of answers with number of answer and text"
                                    },
                                    {
                                        name: "Answer",
                                        type: "int",
                                        description: "Number of answered answer"
                                    },
                                    {
                                        name: "Important",
                                        type: "bool",
                                        description: "True if is selected as important"
                                    },
                                ],
                                errors: [
                                    {
                                        name: "FAILED_SEARCH",
                                        description: "Session is not defined"
                                    },
                                    {
                                        name: "FAILED_SEARCH_QUESTIONS",
                                        description: "Nothing found"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        url: "/api/save",
                        requests: [
                            {
                                type: "GET",
                                description: "Get status of load",
                                parameters: null,
                                response: null,
                                errors: [
                                    {
                                        name: "FAILED_NOT_DONE",
                                        description: "Load not done"
                                    }
                                ]
                            },
                            {
                                type: "GET /:Id",
                                description: "Start loading",
                                parameters: null,
                                response: null,
                                errors: [
                                    {
                                        name: "FAILED_NOT_FOUND",
                                        description: "Save not found by id"
                                    }
                                ]
                            },
                            {
                                type: "POST",
                                description: "Save list",
                                parameters:[
                                    {
                                        name: "Email",
                                        type: "string",
                                        description: "Email where to send save",
                                    },
                                ],
                                response: null,
                                errors: [
                                    {
                                        name: "FAILED_SEARCH",
                                        description: "Session is not defined"
                                    },
                                    {
                                        name: "FAILED",
                                        description: "Can not save list"
                                    }
                                ]
                            },
                            {
                                type: "PUT /:Id",
                                description: "Remove list",
                                parameters:[
                                    {
                                        name: "Email",
                                        type: "string",
                                        description: "Email where was it send",
                                    },
                                ],
                                response: null,
                                errors: [
                                    {
                                        name: "FAILED_SEARCH",
                                        description: "Session is not defined"
                                    },
                                    {
                                        name: "FAILED_INVALID_DATA",
                                        description: "Invalid data in body"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        url: "/api/search",
                        requests: [
                            {
                                type: "GET",
                                description: "Get all results",
                                parameters: null,
                                response: [
                                    {
                                        name: "Percentage",
                                        type: "int",
                                        description: "Match of percentage"
                                    },
                                    {
                                        name: "Price",
                                        type: "int",
                                        description: "Number price"
                                    },
                                    {
                                        name: "PriceNice",
                                        type: "string",
                                        description: "Nice price"
                                    },
                                    {
                                        name: "PriceUnit",
                                        type: "string",
                                        description: "Pride unit (per month)"
                                    },
                                    {
                                        name: "Type",
                                        type: "string",
                                        description: "Type (sale, rent)"
                                    },
                                    {
                                        name: "InfoText",
                                        type: "string",
                                        description: "Description of real estate"
                                    },
                                    {
                                        name: "Address",
                                        type: "string",
                                        description: "Address"
                                    },
                                    {
                                        name: "Interests",
                                        type: "List<Interest>",
                                        description: "List of interests"
                                    },
                                    {
                                        name: "FavoritePlace",
                                        type: "List<FavoritePlaceData>",
                                        description: "List of favorite places"
                                    },
                                ],
                                errors: [
                                    {
                                        name: "FAILED_NOT_DONE",
                                        description: "Search not done"
                                    },
                                    {
                                        name: "FAILED_SEARCH",
                                        description: "Session is not defined"
                                    },
                                    {
                                        name: "FAILED_NOT_FOUND",
                                        description: "Nothing found"
                                    },
                                    {
                                        name: "FAILED",
                                        description: "General error"
                                    },
                                ]
                            },
                            {
                                type: "GET /:Id",
                                description: "Get specific result",
                                parameters: null,
                                response: [
                                    {
                                        name: "Percentage",
                                        type: "int",
                                        description: "Match of percentage"
                                    },
                                    {
                                        name: "Price",
                                        type: "int",
                                        description: "Number price"
                                    },
                                    {
                                        name: "PriceNice",
                                        type: "string",
                                        description: "Nice price"
                                    },
                                    {
                                        name: "PriceUnit",
                                        type: "string",
                                        description: "Pride unit (per month)"
                                    },
                                    {
                                        name: "Type",
                                        type: "string",
                                        description: "Type (sale, rent)"
                                    },
                                    {
                                        name: "InfoText",
                                        type: "string",
                                        description: "Description of real estate"
                                    },
                                    {
                                        name: "Address",
                                        type: "string",
                                        description: "Address"
                                    },
                                    {
                                        name: "Interests",
                                        type: "List<Interest>",
                                        description: "List of interests"
                                    },
                                    {
                                        name: "FavoritePlace",
                                        type: "List<FavoritePlaceData>",
                                        description: "List of favorite places"
                                    },
                                ],
                                errors: [
                                    {
                                        name: "FAILED_NOT_DONE",
                                        description: "Search not done"
                                    },
                                    {
                                        name: "FAILED_SEARCH",
                                        description: "Session is not defined"
                                    },
                                    {
                                        name: "FAILED_NOT_FOUND",
                                        description: "Nothing found"
                                    },
                                    {
                                        name: "FAILED",
                                        description: "General error"
                                    },
                                ]
                            },
                            {
                                type: "POST",
                                description: "Start searching",
                                parameters: null,
                                response: null,
                                errors: [
                                    {
                                        name: "FAILED_SEARCH",
                                        description: "Can not search"
                                    },
                                    {
                                        name: "FAILED_NOT_FOUND",
                                        description: "Nothing found"
                                    }
                                ]
                            }
                        ]
                    },
                ]
            }
        },
    }
</script>
