<!--
    Main page to do all Search
-->

<template>
    <div class="index">
        <header-component></header-component>
        <section class="top-slide text-center">
            <h1 class="display-1">Individualizované hodnocení<br>nemovitostí</h1>
            <router-link class="btn btn-lg btn-warning" :to="{ name: 'Search'}">
                Chci to zkusit!
            </router-link>
        </section>
        <section class="text-center" id="why">
            <div class="container">
                <h2 class="display-2">Proč?</h2>
                <p>
                    Celý nápad vznikl, když jsem šel studovat na vysokou školu daleko od domova a hledal jsem si byt.<br>
                    Vůbec jsem to město neznal a tudíž jsem nevěděl,<br>
                    jestli danná nemovitost je ta pravá s okolím, které potřebuji.
                </p>
                <p>Nakonec jsem celý nápad zrealizoval v rámci bakalářské práce na Jihočeské univerzitě.</p>
            </div>
        </section>
        <section class="text-center" id="technology">
            <div class="container">
                <h2 class="display-2 mb-3">Technologie</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card text-center">
                            <div class="image-wrap">
                                <img class="w-50 mx-auto" src="../assets/gfx/bootstrap-stack.png" alt="">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Bootstrap</h3>
                                <p class="card-text">Upravená css knihovna pro vzhed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-center">
                            <div class="image-wrap">
                                <img class="w-50 mx-auto" src="../assets/gfx/faLogoFull.jpg" alt="">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Fontawesome</h3>
                                <p class="card-text">Ikony pro zpřehlednění.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card text-center">
                            <div class="image-wrap">
                                <img class="w-50 mx-auto" src="../assets/gfx/vuejs.png" alt="" style="max-width: 180px;">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Vue.js</h3>
                                <p class="card-text">Pro rychlé zobrazení dat je použítý javascriptový framework Vue.js.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-center">
                            <div class="image-wrap">
                                <img class="w-50 mx-auto" src="../assets/gfx/asp-net.png" style="max-width: 204px;" alt="">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">API v C# .NET</h3>
                                <p class="card-text">Veškerý data zajišťuje server, se kterým se komunikuje za pomocí API.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center" id="source">
            <div class="container">
                <h2 class="display-2">Zdroje dat</h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card text-center">
                            <div class="image-wrap">
                                <img class="w-50 mx-auto" src="../assets/gfx/GoogleMaps.svg" alt="">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Google maps</h3>
                                <p class="card-text">Zdroj dat pro zajímavosti v okolí.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-center">
                            <div class="image-wrap">
                                <img class="w-50 mx-auto" src="../assets/gfx/Mag_map_shade.svg" alt="">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Open street map</h3>
                                <p class="card-text">Zdroj dat pro zajímavosti v okolí.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card text-center">
                            <div class="image-wrap">
                                <img class="w-50 mx-auto" src="../assets/gfx/sreality-logo.png" alt="">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Sreality.cz</h3>
                                <p class="card-text">Zdroj dat pro nemovitosti v okolí.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card text-center">
                            <div class="image-wrap">
                                <font-awesome-icon icon="server" size="4x"/>
                            </div>
                            <div class="card-body">
                                <h3 class="card-title">Vlastní databáze</h3>
                                <p class="card-text">Zdroj dat pro zajímavosti a nemovitosti v okolí.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center" id="use">
            <div class="container">
                <h2 class="display-2">Použití</h2>
                <p>Návod jak správně použít aplikaci</p>
                <p>
                    <router-link class="btn btn-lg btn-primary" :to="{ name: 'UserDoc'}">
                        Návod
                    </router-link>
                </p>
            </div>
        </section>
        <section class="text-center" id="contact">
            <div class="container">
                <h2 class="display-2">Kontakt</h2>
                <p>Pavel Šeps<br><a href="mailto:info@pavelseps.cz">info@pavelseps.cz</a></p>
            </div>
        </section>
    </div>
</template>

<script>
    import Header from '@/components/Header';
    import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

    export default {
        name: 'Index',
        components: {
            'header-component': Header,
            'font-awesome-icon': FontAwesomeIcon
        },
    }
</script>
