<!--
    Load saved searching
-->

<template>
    <div class="load">
        <search :loadData="loadData"></search>
    </div>
</template>

<script>
    import Search from './Search';
    import Error from '@/lib/Error';

    export default {
        name: 'Load',
        components: {
            'search': Search,
        },
        data () {
            return {
                data: {
                    location: {
                        lat: 48.9883604,
                        lng: 14.4708852,
                        radius: 1000,
                    },
                    questions: [],
                    result: [],
                    favoritePlaceData: []
                },
            }
        },
        methods: {
            /**
             * Load data from server
             * @param callback - callback when everything load
             * @returns {Promise.<boolean>}
             */
            loadData: async function(callback){
                let loadedInterval;
                let it = 0;
                try {
                    let save = await this.connection.get('/api/save/'+this.$route.params.hash);
                    let serverData = JSON.parse(save.data);
                    if(serverData.Status !== "OK"){
                        new Error(this.$router, save.data);
                        return false;
                    }

                    loadedInterval = setInterval(async ()=>{
                        let save = await this.connection.get('/api/save');
                        let serverData = JSON.parse(save.data);
                        if(serverData.Status === "OK"){
                            clearInterval(loadedInterval);
                            innerCallback();
                        } else if (serverData.Status !== "FAILED_NOT_DONE"){
                            clearInterval(loadedInterval);
                            new Error(this.$router, "Load error");
                        }

                        it++;
                        if(it > 60){
                            new Error(this.$router, "Load error");
                        }
                    }, 1500);

                    let thisEl = this;
                    async function innerCallback(){
                        let location = await thisEl.connection.get('/api/location/');
                        let questions = await thisEl.connection.get('/api/answer/');
                        let favoritePlace = await thisEl.connection.get('/api/favoriteplace/');
                        let search = await thisEl.connection.post('/api/search/');
                        let result = await thisEl.connection.get('/api/search/');
                        thisEl.data.location = JSON.parse(location.data).Data;
                        thisEl.data.questions = JSON.parse(questions.data).Data;
                        thisEl.data.favoritePlaceData = JSON.parse(favoritePlace.data).Data;
                        thisEl.data.result = JSON.parse(result.data).Data;
                        callback(thisEl.data);
                    }
                } catch (error) {
                    new Error(this.$router, "Error");
                }
            }
        }
    }
</script>
