<!--
    Remove saved searching
-->

<template>
    <div class="remove">
        <header id="header">
            <div class="container">
                <router-link :to="{ name: 'Index'}"><img src="../assets/logo_darker.png"></router-link>
            </div>
        </header>
        <div class="container">
            <h1 class="display-1 mb-4">Smazání uloženého listu</h1>
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form v-on:submit.prevent="remove" v-if="!success">
                        <label>Prosím zadejte email pro potvrzení</label>
                        <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-lg">Email</span>
                            </div>
                            <input type="email" required class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" v-model="email">
                            <div class="input-group-append">
                                <button class="btn btn-danger" type="submit">Smazat</button>
                            </div>
                        </div>
                    </form>
                    <p class="alert alert-success text-center" v-if="success">
                        Záznam byl smazán
                    </p>
                    <p class="alert alert-danger text-center mt-2" v-if="error">
                        Něco se pokazilo. Prosím, zkuste to znovu.
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Header from '@/components/Header';

    export default {
        data () {
            return {
                email: "",
                success: false,
                error: false,
            }
        },
        components: {
            'header-component': Header
        },
        methods: {
            /**
             * Submit form and send request to api
             */
            remove(){
                this.success = false;
                this.error = false;
                this.connection.put('/api/save/'+this.$route.params.hash, JSON.stringify({Email: this.email})).then(response =>{
                    let serverData = JSON.parse(response.data);
                    if(serverData.Status !== "OK"){
                        this.error = true;
                        return false;
                    }
                    this.success = true;
                }).catch(err =>{
                    this.error = true;
                });
            }
        }
    }
</script>
