<!--
    Main page to do all Search
-->

<template>
    <div class="search" v-bind:class="{'show-info-messages': showInfoMessages}">
        <router-link :to="{ name: 'Index'}" class="logo"><img src="../assets/logo_ligter.png"></router-link>
        <span class="toggle-info-messages" v-on:click="showInfoMessages = !showInfoMessages"><font-awesome-icon :icon="showInfoMessages?'times-circle':'info-circle'" size="2x" /></span>
        <div class="overlay"></div>
        <progress-tabs :appFlow="appFlow"></progress-tabs>
        <section v-if="appFlow.location.active">
            <location :next="next" :location="location"></location>
        </section>
        <section v-if="appFlow.questions.active">
            <questions :next="next" :questions="questions" ></questions>
        </section>
        <section v-if="appFlow.importantQuestions.active">
            <questions-important :next="next" :questions="questions" ></questions-important>
        </section>
        <section v-if="appFlow.favoritePlace.active">
            <favorit-place :next="next" :favoritePlaceData="favoritePlaceData" :searchData="location"></favorit-place>
        </section>
        <section v-if="appFlow.result.active">
            <result :result="result" :questions="questions" :searchLocation="location"></result>
        </section>

        <div class="modal-mask" v-if="showModalLoader.status">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-body">
                        <div class="loader"></div>
                        <h1 class="text-center display-4">{{showModalLoader.text}}</h1>
                        <div class="progress" v-if="showModalLoader.progress !== null">
                            <div class="progress-bar progress-bar-striped" role="progressbar" :style="{width: (showModalLoader.progress*100)+'%'}" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-mask" v-if="showModalInfo.status">
            <div class="modal-wrapper" v-on:click="showModalInfo.status = false; showModalInfo.callback();">
                <div class="modal-container" v-on:click.stop="">
                    <div class="modal-body text-center">
                        <h1 class="display-4 mb-3">{{showModalInfo.text}}</h1>
                        <span class="btn btn-primary btn-lg cursor-pointer" v-on:click="showModalInfo.status = false; showModalInfo.callback();">Pokračovat</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-mask" v-if="showModalErorr">
            <div class="modal-wrapper" v-on:click="searchAgain">
                <div class="modal-container" v-on:click.stop="">
                    <div class="modal-body text-center">
                        <h1 class="display-4 mb-3"><font-awesome-icon icon="times-circle" size="2x" class="text-danger" /><br>{{showModalErorr}}</h1>
                        <span class="btn btn-primary btn-lg cursor-pointer" v-on:click="searchAgain">Znovu hledat</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-mask" v-if="showModalConfirm.status">
            <div class="modal-wrapper">
                <div class="modal-container">
                    <div class="modal-body text-center">
                        <h1 class="display-4 mb-3">Chcete si znovu prohlédnout otázky?</h1>
                        <span class="btn btn-primary btn-lg cursor-pointer mr-3 mb-2" v-on:click="showModalConfirm.status = false; showModalConfirm.callbackSuccess();">Ne, chci pokračovat</span>
                        <span class="btn btn-outline-primary btn-lg cursor-pointer ml-3 mb-2" v-on:click="showModalConfirm.status = false; showModalConfirm.callbackFalse();">Ano</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Location from '@/components/Location';
    import Questions from '@/components/Questions';
    import Result from '@/components/Result';
    import FavoritPlace from '@/components/FavoritPlace';
    import ImportantQuestions from '@/components/ImportantQuestions';
    import Progress from '@/components/Progress';
    import Error from '@/lib/Error';
    import FontAwesomeIcon from '@fortawesome/vue-fontawesome'

    export default {
        name: 'Search',
        components: {
            'location': Location,
            'questions': Questions,
            'result': Result,
            'progress-tabs': Progress,
            'favorit-place': FavoritPlace,
            'questions-important': ImportantQuestions,
            'font-awesome-icon': FontAwesomeIcon
        },
        props: ['loadData'],
        data () {
            return {
                // Modal variables
                showInfoMessages: false,
                showModalLoader: {
                    status: false,
                    interval: null,
                    text: '',
                    progress: null
                },
                showModalConfirm: {
                    status: false,
                    callbackSuccess: ()=>{},
                    callbackFalse: ()=>{},
                },
                showModalInfo: {
                    status: false,
                    text: '',
                    callback: ()=>{}
                },
                showModalErorr: false,
                // App flow (progress bar)
                appFlow: {
                    'location': {
                        active: true,
                        beforeActive: false,
                        disabled: false,
                        name: 'Lokace'
                    },
                    'questions': {
                        active: false,
                        beforeActive: false,
                        disabled: true,
                        name: 'Otázky'
                    },
                    'importantQuestions': {
                        active: false,
                        beforeActive: false,
                        disabled: true,
                        name: 'Důležité otázky'
                    },
                    'favoritePlace': {
                        active: false,
                        beforeActive: false,
                        disabled: true,
                        name: 'Oblíbená místa'
                    },
                    'result': {
                        active: false,
                        beforeActive: false,
                        disabled: true,
                        name: 'Výsledek'
                    }
                },
                // App data
                location: {
                    lat: 48.9883604,
                    lng: 14.4708852,
                    radius: 1000,
                },
                questions: [],
                result: [],
                favoritePlaceData: [],
                detail: null,
                responsiveStyle: null
            }
        },
        created() {
            if(window.innerWidth<768){
                this.responsiveStyle = document.createElement('style');
                document.head.append(this.responsiveStyle);
                window.addEventListener('resize', this.addWindowHeightResponsive);
                this.addWindowHeightResponsive();
            }

            /**
             * Try load data if is wrapped with Load component
             */
            if(this.loadData !== undefined){
                this.showLoader();
                this.loadData((data) => {

                    this.location = data.location;
                    this.questions = data.questions;
                    this.favoritePlaceData = data.favoritePlaceData;
                    this.result = data.result;
                    this.next('favorite-place'); //Shows result
                })
            }
        },
        beforeDestroy() {
            window.removeEventListener('resize', this.addWindowHeightResponsive);
        },
        methods: {
            addWindowHeightResponsive(){
                if(this.responsiveStyle !== null){
                    this.responsiveStyle.innerHTML = ".search { height: " + window.innerHeight + "px; }";
                }
            },
            /**
             * Return random sentence for loader
             */
            getRandomLoaderText(){
                let texts = [
                    'Volám do realitní kanceláře',
                    'Obíhám okolí',
                    'Moment, dělám si kafe',
                    'Jee, má oblíbená hospoda',
                    'Kamarád říkal, že to tam takhle vypadá',
                    'Tady to vypadá ale dobře',
                    'I já bych si tam našel nemovitost',
                    'Zachvilku to už mám',
                    'Pořád vás baví čekat?',
                ];

                return texts[Math.floor(Math.random() * texts.length)]
            },
            /**
             * Move to selected section in progress
             */
            next(sectionName = '', withoutConfirm = false){
                this.showLoader();
                for(let section in this.appFlow){
                    if (!this.appFlow.hasOwnProperty(section))
                        continue;
                    this.appFlow[section].active = false;
                    this.appFlow[section].disabled = true;
                    this.appFlow[section].beforeActive = false;
                }

                switch (sectionName){
                    case 'location':
                        this.nextLocation((status) => {
                            if(status === 'OK'){
                                this.appFlow.questions.active = true;
                                this.setDisabledProgress();
                            } else if (status  === 'NOT_FOUND'){
                                this.showModalErorr = "V oblasti data nenalezena";
                            } else{
                                console.log(sectionName+ " error");
                            }
                            this.hideLoader();
                        });
                        break;
                    case 'questions':
                        this.hideLoader();
                        let question = this.questions.find(function (question) {
                            return question.Answer !== null;
                        });

                        if(question !== undefined && question !== null){
                            if(!withoutConfirm){
                                this.showModalConfirm.status = true;
                                this.showModalConfirm.callbackSuccess = () =>{
                                    this.appFlow.importantQuestions.active = true;
                                    this.setDisabledProgress();
                                };
                                this.showModalConfirm.callbackFalse = () =>{
                                    this.appFlow.questions.active = true;
                                    this.setDisabledProgress();
                                };
                            }else{
                                this.appFlow.importantQuestions.active = true;
                                this.setDisabledProgress();
                            }
                        }else{
                            this.showModalInfo.status = true;
                            this.showModalInfo.text = "Prosím, odpovězte alespoň jednu otázku";
                            this.showModalInfo.callback = () =>{
                                this.appFlow.questions.active = true;
                                this.setDisabledProgress();
                            };
                        }
                        break;
                    case 'important-questions':
                        this.nextImportantQuestion((status) => {
                            if(status === 'OK'){
                                this.appFlow.favoritePlace.active = true;
                                this.setDisabledProgress();
                            }else{
                                console.log(sectionName+ " error");
                            }
                            this.hideLoader();
                        });
                        break;
                    case 'favorite-place':
                        this.nextFavoritePlace((status) => {
                            if(status === 'OK'){
                                this.appFlow.result.active = true;
                                this.setDisabledProgress();
                            } else if (status  === 'NOT_FOUND'){
                                this.showModalErorr = "V oblasti nemovitosti nenalezeny";
                            } else{
                                console.log(sectionName+ " error");
                            }
                            this.hideLoader();
                        });
                        break;
                    default:
                        this.appFlow.location.active = true;
                        this.setDisabledProgress();
                        this.hideLoader();
                        break;
                }
            },
            setDisabledProgress() {
                let prevItem = null;
                for(let section in this.appFlow){
                    if (!this.appFlow.hasOwnProperty(section))
                        continue;
                    this.appFlow[section].disabled = false;

                    if(this.appFlow[section].active){
                        if(prevItem !== null){
                            prevItem.beforeActive = true;
                        }
                        return;
                    }
                    prevItem = this.appFlow[section];
                }
            },
            /**
             * Send location data and get questions
             */
            nextLocation (callback){
                this.connection.post('/api/location/', JSON.stringify(this.location)).then(response =>{
                    let serverData = JSON.parse(response.data);
                    if(serverData.Status !== "OK"){
                        new Error(this.$router, response.data);
                        return false;
                    }

                    this.connection.post('/api/question/').then(response =>{
                        let serverData = JSON.parse(response.data);
                        if(serverData.Status !== "OK"){
                            if(serverData.Status === "FAILED_NOT_FOUND"){
                                callback('NOT_FOUND');
                                return false;
                            }
                            new Error(this.$router, response.data);
                            return false;
                        }

                        if(serverData.Data.length < 1){
                            callback('NOT_FOUND');
                            return false;
                        }

                        this.questions = serverData.Data;
                        this.showModalLoader.progress = null;
                        callback('OK');
                    }).catch(err =>{
                        new Error(this.$router, err);
                    });

                }).catch(err =>{
                    new Error(this.$router, err);
                });
            },
            /**
             * Send answers to server
             */
            nextImportantQuestion(callback){
                this.connection.post('/api/answer/', JSON.stringify(this.questions)).then(response =>{
                    let serverData = JSON.parse(response.data);
                    if(serverData.Status !== "OK"){
                        new Error(this.$router, response.data);
                        return false;
                    }

                    callback('OK')
                }).catch(err =>{
                    new Error(this.$router, err);
                });
            },
            /**
             * Send favorite places to server
             * Start searching
             * Get result
             */
            nextFavoritePlace(callback){
                this.connection.post('/api/favoriteplace/', JSON.stringify(this.favoritePlaceData)).then(response =>{
                    let serverData = JSON.parse(response.data);
                    if(serverData.Status !== "OK"){
                        new Error(this.$router, response.data);
                        return false;
                    }

                    this.connection.post('/api/search/').then(response =>{
                        let serverData = JSON.parse(response.data);
                        if(serverData.Status !== "OK"){
                            if(serverData.Status === "FAILED_NOT_FOUND"){
                                callback('NOT_FOUND');
                                return false;
                            }

                            new Error(this.$router, response.data);
                            return false;
                        }

                        this.getResult(callback, 0);
                    }).catch(err =>{
                        new Error(this.$router, err);
                    });
                }).catch(err =>{
                    new Error(this.$router, err);
                });
            },
            /**
             * Getting result from server
             */
            getResult(callback, iteration){
                this.connection.get('/api/search/').then(response =>{
                    let serverData = JSON.parse(response.data);
                    if(serverData.Status === "FAILED_NOT_DONE"){
                        if(iteration>20){
                            new Error(this.$router, "Failed search still can not get data");
                            return false;
                        }
                        setTimeout(()=>{
                            this.getResult(callback, iteration++);
                        },3000);
                        return false;
                    } else if(serverData.Status === "FAILED_NOT_FOUND"){
                        callback('NOT_FOUND');
                        return false;
                    } else if(serverData.Status !== "OK"){
                        new Error(this.$router, response.data);
                        return false;
                    }
                    this.result = serverData.Data.sort(function(a,b) {
                        return (a.Percentage > b.Percentage) ? -1 : ((b.Percentage > a.Percentage) ? 1 : 0);
                    });
                    callback('OK');

                }).catch(err =>{
                    new Error(this.$router, err);
                });
            },
            /**
             * Start new searching
             */
            searchAgain(){
                this.next();
                this.showModalErorr = false;
            },
            /**
             * Show loader and set random text
             */
            showLoader(){
                this.showModalLoader.interval = setInterval( () => {
                    this.showModalLoader.text = this.getRandomLoaderText();
                }, 4000);
                this.showModalLoader.text = this.getRandomLoaderText();
                this.showModalLoader.status = true;
            },
            /**
             * Hide loader
             */
            hideLoader(){
                this.showModalLoader.status = false;
                clearInterval(this.showModalLoader.interval);
            }
        }
    }
</script>
