<!--
    User Documentation
-->

<template>
    <div class="user-doc">
        <header id="header">
            <div class="container">
                <router-link :to="{ name: 'Index'}"><img src="../assets/logo_darker.png"></router-link>
                <span class="toggle-navigation" v-on:click="showNavigation = !showNavigation;"></span>
                <ul class="nav nav-pills" v-bind:class="{'opened': showNavigation}">
                    <li class="nav-item">
                    <span class="nav-link cursor-pointer" v-scroll-to="{
                         el: '#location',
                        onStart: ()=> {showNavigation = false}
                     }"
                    >Lokace</span>
                    </li>

                    <li class="nav-item">
                    <span class="nav-link cursor-pointer" v-scroll-to="{
                         el: '#questions',
                        onStart: ()=> {showNavigation = false}
                     }"
                    >Otázky</span>
                    </li>

                    <li class="nav-item">
                    <span class="nav-link cursor-pointer" v-scroll-to="{
                         el: '#importantQuestions',
                        onStart: ()=> {showNavigation = false}
                     }"
                    >Důležité otázky</span>
                    </li>

                    <li class="nav-item">
                    <span class="nav-link cursor-pointer" v-scroll-to="{
                         el: '#favoritePlace',
                        onStart: ()=> {showNavigation = false}
                     }"
                    >Oblíbená místa</span>
                    </li>

                    <li class="nav-item">
                    <span class="nav-link cursor-pointer" v-scroll-to="{
                         el: '#result',
                        onStart: ()=> {showNavigation = false}
                     }"
                    >Výsledek</span>
                    </li>

                    <li class="nav-item">
                    <span class="nav-link cursor-pointer" v-scroll-to="{
                         el: '#save',
                        onStart: ()=> {showNavigation = false}
                     }"
                    >Uložení</span>
                    </li>

                    <li class="nav-item">
                    <span class="nav-link cursor-pointer" v-scroll-to="{
                         el: '#remove',
                        onStart: ()=> {showNavigation = false}
                     }"
                    >Smazání</span>
                    </li>

                </ul>
            </div>
        </header>
        <section class="top-slide text-center">
            <h1 class="display-1">Uživatelská dokumentace</h1>
            <span class="btn btn-lg btn-warning"
                  v-scroll-to="{
                         el: '#location',
                        onStart: ()=> {showNavigation = false}
                     }"
            >
                Pokračovat
            </span>
        </section>
        <section class="text-center" id="location">
            <div class="container">
                <h2>Výběr lokace</h2>
                <img src="../assets/gfx/user-doc/location/1.png" alt="Výběr lokace" class="img-thumbnail">
                <ol class="text-left mb-5">
                    <li>Výběr lokace z mapy a znázornění vybíráné oblasti</li>
                    <li>Vyhledávání pomocí oblasti</li>
                    <li>Zadání oblasi pomocí názvu, adresy atd.</li>
                    <li>Výběr poloměru</li>
                    <li>Další krok</li>
                </ol>

                <h3>Výber lokace pomocí souřadnic</h3>
                <img src="../assets/gfx/user-doc/location/2.png" alt="Výber lokace pomocí souřadnic" class="img-thumbnail">
                <ol class="text-left">
                    <li>Vyhledávání pomocí souřadnice</li>
                    <li>Zeměpisná šířka</li>
                    <li>Zeměpisná délka</li>
                </ol>
            </div>
        </section>
        <section class="text-center" id="questions">
            <div class="container">
                <h2>Odpovězení otázek</h2>
                <img src="../assets/gfx/user-doc/questions/1.png" alt="Odpovězení otázek" class="img-thumbnail">
                <ol class="text-left">
                    <li>Aktuální otázka</li>
                    <li>Odpovědi pro otázky s názorněnou odpovědí</li>
                    <li>Přeskočení otázky</li>
                    <li>Seznam otázek</li>
                    <li>Grafické znázornění odpovědí</li>
                    <li>Další otázka / další krok</li>
                </ol>
                <p class="text-left">Musí se odpovědět minimálně na jednu otázku</p>
            </div>
        </section>
        <section class="text-center" id="importantQuestions">
            <div class="container">
                <h2>Výběr důležitých otázek</h2>
                <img src="../assets/gfx/user-doc/importantQuestions/1.png" alt="Výběr důležitých otázek" class="img-thumbnail">
                <ol class="text-left">
                    <li>Výběr otázek pro zvýšení hodnoty</li>
                    <li>Další krok</li>
                </ol>
            </div>
        </section>
        <section class="text-center" id="favoritePlace">
            <div class="container">
                <h2>Výběr oblíbených míst</h2>
                <img src="../assets/gfx/user-doc/favoritePlace/1.png" alt="Výběr oblíbených míst" class="img-thumbnail">
                <ol class="text-left">
                    <li>Zobrazení na mapě (kliknutím na mapu přidáte bod)</li>
                    <li>Aktuální bod</li>
                    <li>Seznam bodů</li>
                    <li>Možnosti dopravy k bodu</li>
                    <li>Odebrání bodu</li>
                    <li>Další krok</li>
                </ol>
            </div>
        </section>
        <section class="text-center" id="result">
            <div class="container">
                <h2>Výsledek</h2>
                <img src="../assets/gfx/user-doc/result/1.png" alt="Výsledek" class="img-thumbnail">
                <ol class="text-left mb-5">
                    <li>Zobrazení / shování filtru</li>
                    <li>Výběr rozshahu dle procent</li>
                    <li>Výběr rozshahu dle ceny</li>
                    <li>Zobrazení výsledného listu pro nemovitosti k prodeji</li>
                    <li>Zobrazení výsledného listu pro nemovitosti k pronájmu</li>
                    <li>Výsledný list</li>
                    <li>Uložení listu</li>
                    <li>Zobrazení na mapě</li>
                </ol>
                <h3>Detail výsledku</h3>
                <img src="../assets/gfx/user-doc/result/2.png" alt="Detail výsledku" class="img-thumbnail">
                <ol class="text-left">
                    <li>Zobrazení nemovitosti a bodů zájmu na mapě</li>
                    <li>Procentuální shoda a název</li>
                    <li>Grafické znázornění shody</li>
                    <li>Schování detailu</li>
                    <li>Detailní informace o nemovitosti</li>
                </ol>
            </div>
        </section>
        <section class="text-center" id="save">
            <div class="container">
                <h2>Uložení listu</h2>
                <img src="../assets/gfx/user-doc/save/1.png" alt="Uložení listu" class="img-thumbnail">
                <ol class="text-left">
                    <li>Kliknutí na tlačítko</li>
                    <li>Vložení emailové adresy, na kterou si přejete zaslat list</li>
                    <li>Odeslání</li>
                </ol>
            </div>
        </section>
        <section class="text-center" id="remove">
            <div class="container">
                <h2>Odebrání listu</h2>
                <img src="../assets/gfx/user-doc/remove/1.png" alt="Odebrání listu" class="img-thumbnail">
                <ol class="text-left">
                    <li>Vložení emailu, na který byl list odeslán</li>
                    <li>Odeslání</li>
                </ol>
            </div>
        </section>
    </div>
</template>

<script>
    import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
    import Vue from 'vue';
    import VueScrollTo from 'vue-scrollto';

    Vue.use(VueScrollTo,{
        duration: 1000,
        offset: -75
    });

    export default {
        name: 'UserDoc',
        components: {
            'font-awesome-icon': FontAwesomeIcon
        },
        data(){
            return{
                showNavigation: false
            }
        },
    }
</script>
