<template>
    <div id="app">
        <router-view />
    </div>
</template>

<script>
    import Connection from '@/lib/Connection';
    import Vue from 'vue';
    import * as VueGoogleMaps from 'vue2-google-maps';
    import fontawesome from '@fortawesome/fontawesome'
    import brands from '@fortawesome/fontawesome-free-brands'
    import freeSolid from '@fortawesome/fontawesome-free-solid'
    import Vue2TouchEvents from 'vue2-touch-events'

    Vue.use(Vue2TouchEvents);

    fontawesome.library.add(brands, freeSolid);

    Vue.use(VueGoogleMaps, {
        load: {
            key: process.env.GOOGLE_MAP_API_KEY,
            libraries: 'places'
        }
    });

    Vue.mixin({
        data: function() {
            return {
                get connection() {
                    return Connection()
                }
            }
        }
    });

    export default {
        name: 'App',
    }
</script>

<style lang="scss">
    @import '../src/assets/scss/default';
</style>
