<!--
    Component to pick favorite places from map
-->

<template>
    <div class="favorite-place">
        <info-message :position="{top: '66%', left: '33%'}" arrowStyle="arrow-5">Výběr z mapy</info-message>
        <info-message :position="{top: '198px', left: '55%'}" arrowStyle="arrow-2">Přidání nového bodu</info-message>
        <info-message :position="{top: '340px', left: '58%'}" arrowStyle="arrow-2">Seznam bodů</info-message>
        <info-message :position="{bottom: '130px', left: '51%'}" arrowStyle="arrow-3">Další krok</info-message>

        <div class="row no-gutters">
            <div class="col-md-7 col-xl-8 responsive-map" v-bind:class="{'closed': responsive.asideVisible}">
                <gmap-map
                        :center="center"
                        :zoom="14"
                        v-on:click="addToMap"
                        v-on:dblclick="mapDoubleClick"
                >
                    <gmap-marker
                            :key="index+'-favoritePlaceData'"
                            v-for="(item, index) in favoritePlaceData"
                            v-on:click="selectPoint(item)"
                            :position="item.Location"
                            :draggable="true"
                            :icon="item.selected?{url: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'}:''"
                    ></gmap-marker>
                </gmap-map>
            </div>
            <div
                    class="col-md-5 col-xl-4 responsive-aside"
                    v-bind:class="{'closed': !responsive.asideVisible}"
                    v-touch:swipe="asideSwipe"
            >
                <span class="responsive-aside-toggle" v-on:click="responsive.asideVisible = !responsive.asideVisible">
                    <font-awesome-icon :icon="responsive.asideVisible?'angle-double-right':'angle-double-left'" />
                </span>
                <aside>
                    <vue-scrollbar classes="scrollbar-wrapper" ref="Scrollbar">
                        <div
                                class="scroll-inner"
                                v-touch:swipe="asideSwipe"
                        >
                            <h1>Vyberte oblíbené místo</h1>

                            <div class="row mb-2 align-items-center" v-on:click="selectPoint(item)" v-for="(item, index) in favoritePlaceData">
                                <div class="col-xl-2 col-md-4 col-3 text-center cursor-pointer">
                                    <img src="http://maps.google.com/mapfiles/ms/icons/blue-dot.png" alt="" v-if="item.selected">
                                    <img src="http://maps.google.com/mapfiles/ms/icons/red-dot.png" alt="" v-if="!item.selected">
                                </div>
                                <div class="col-xl-10 col-md-8 col-9 text-right d-flex">
                                    <select class="form-control" v-model="item.Type">
                                        <option value="driving">Autem</option>
                                        <option value="walking">Pěšky</option>
                                    </select>
                                    <span class="btn btn-danger ml-3" v-on:click="removePoint(index)">&times;</span>
                                </div>
                            </div>
                        </div>
                    </vue-scrollbar>

                    <div class="next-button">
                        <span class="btn btn-primary cursor-pointer d-block" v-on:click="next('favorite-place')">Další</span>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</template>
<script>
    import VueScrollbar from 'vue2-scrollbar';
    import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
    import InfoMessage from '@/components/InfoMessage'

    export default {
        name: 'FavoritePlace',
        props: ['favoritePlaceData', 'searchData', 'next'],
        components: {
            'vue-scrollbar': VueScrollbar,
            'font-awesome-icon': FontAwesomeIcon,
            'info-message': InfoMessage
        },
        data () {
            return {
                responsive: {
                    asideVisible: true
                },
                center: this.searchData
            }
        },
        methods:{
            asideSwipe(dir){
                if(dir === "left"){
                    this.responsive.asideVisible = true;
                }else if(dir === "right"){
                    this.responsive.asideVisible = false;
                }
            },
            removePoint(index){
                this.favoritePlaceData.splice(index, 1);
            },
            addToMap(e){
                for(let place of this.favoritePlaceData){
                    place.selected = false;
                }

                this.favoritePlaceData.push({
                    Id: this.favoritePlaceData.length+1,
                    Type: "driving",
                    selected: true,
                    Location: {
                        lat: e.latLng.lat(),
                        lng: e.latLng.lng()
                    }
                });

                this.canAdd = false;
                this.responsive.asideVisible = true;
            },
            mapDoubleClick(){
                this.favoritePlaceData.pop();
            },
            selectPoint(item){
                for(let place of this.favoritePlaceData){
                    place.selected = false;
                }
                item.selected = true;
                this.center = {
                    lat: item.Location.lat,
                    lng: item.Location.lng
                };
            }
        }
    }
</script>

