<!--
    Header component
-->

<template>
    <header id="header">
        <div class="container">
            <img
                    v-scroll-to="{
                         el: '#header',
                        onStart: ()=> {showNavigation = false}
                     }"
                    class="cursor-pointer"
                    src="../assets/logo_darker.png">
            <span class="toggle-navigation" v-on:click="showNavigation = !showNavigation;"></span>
            <ul class="nav nav-pills" v-bind:class="{'opened': showNavigation}">
                <li class="nav-item">
                    <span class="nav-link cursor-pointer" v-scroll-to="{
                         el: '#why',
                        onStart: ()=> {showNavigation = false}
                     }"
                    >Proč?</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link cursor-pointer"  v-scroll-to="{
                         el: '#technology',
                        onStart: ()=> {showNavigation = false}
                     }"
                    >Technologie</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link cursor-pointer"   v-scroll-to="{
                         el: '#source',
                        onStart: ()=> {showNavigation = false}
                     }"
                    >Zdroje dat</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link cursor-pointer"   v-scroll-to="{
                         el: '#use',
                        onStart: ()=> {showNavigation = false}
                     }"
                    >Použití</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link cursor-pointer"   v-scroll-to="{
                         el: '#contact',
                        onStart: ()=> {showNavigation = false}
                     }"
                    >Kontakt</span>
                </li>
            </ul>
        </div>
    </header>
</template>


<script>
    import Vue from 'vue';
    import VueScrollTo from 'vue-scrollto';

    Vue.use(VueScrollTo,{
        duration: 1000,
        offset: -75
    });

    export default {
        name: 'Header',
        data(){
            return{
                showNavigation: false
            }
        },
    }
</script>

