<!--
    Component for select important questions
-->

<template>
    <div class="important-question">
        <info-message :position="{top: '140px', left: '31%'}" arrowStyle="arrow-1">Možnost výběru důležitých otázek pro vás</info-message>
        <info-message :position="{top: '80px', left: '11%'}" arrowStyle="arrow-5">Maximální počet</info-message>
        <info-message :position="{top: '120px', left: '69%'}" arrowStyle="arrow-2">Další krok</info-message>

        <vue-scrollbar classes="scrollbar-wrapper" ref="Scrollbar">
            <div class="scroll-inner">
                <div class="clearfix px-lg-5 py-lg-1">
                    <div class="float-lg-left p-lg-0 px-2 px-sm-5">
                        <h1>Vyberte maximálně {{maxImportant}} nejvíce důležité otázky.</h1>
                    </div>
                    <div class="float-lg-right mt-1">
                        <span class="btn btn-primary cursor-pointer btn-lg d-block" v-on:click="next('important-questions')">Další</span>
                    </div>
                </div>
                <div class="data">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-3" v-for="item in questions" v-if="item.Answer !== null">
                            <div class="card text-center" v-bind:class="{'disabled': (isMax && !item.Important), 'selected': item.Important }" v-on:click="setImportant(item)">
                                <div class="card-body">
                                    <h5 class="card-title">{{item.Question}}</h5>
                                    <p class="card-text">{{findAnswer(item)}}</p>
                                    <div class="text-primary">
                                        <font-awesome-icon icon="times-circle" v-if="!item.Important" size="lg" />
                                        <font-awesome-icon icon="check-circle" v-if="item.Important" size="lg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </vue-scrollbar>
    </div>
</template>


<script>
    import VueScrollbar from 'vue2-scrollbar';
    import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
    import InfoMessage from '@/components/InfoMessage'

    export default {
        name: 'ImportantQuestions',
        props: ['questions', 'next'],
        components:{
            'vue-scrollbar': VueScrollbar,
            'font-awesome-icon': FontAwesomeIcon,
            'info-message': InfoMessage
        },
        data () {
            return {
                maxImportant: 3,
                isMax: false
            }
        },
        created(){
            this.setImportant()
        },
        methods: {
            setImportant(item = null){
                let size = 0;
                this.questions.find((i) => {
                    if(i.Important === true)
                        size++;
                });

                if(item !== null){
                    if(item.Important || size < this.maxImportant){
                        item.Important = !item.Important;

                        if(item.Important){
                            size++;
                        }else{
                            size--;
                        }
                    }
                }

                this.isMax = !(size < this.maxImportant);
            },
            findAnswer(item){
                return this.questions.find(function (el) {
                    return el.Id === item.Id;
                }).Answers.find(function (el) {
                    return el.Item1 === item.Answer;
                }).Item2
            }
        }
    }
</script>

