<!--
    Component to add info messages
-->

<template>
    <span class="info-message" v-bind:class="[arrowStyle]" v-bind:style="position"><slot></slot></span>
</template>


<script>

    export default {
        name: 'InfoMessage',
        props: ['arrowStyle', 'position'],
    }
</script>

