<!--
    Component to get search location from user
-->

<template>
    <div class="location">
        <info-message :position="{top: '30px', left: 'calc(58% - 385px)'}" arrowStyle="arrow-5">Aktuální sekce</info-message>
        <info-message :position="{top: '66%', left: '16%'}" arrowStyle="arrow-2">Výběr z mapy</info-message>
        <info-message :position="{top: '60px', left: '54%'}" arrowStyle="arrow-3">Výběr adredsy nebo souřadnic</info-message>
        <info-message :position="{top: '350px', left: '56%'}" arrowStyle="arrow-2">Výběr poloměru</info-message>
        <info-message :position="{bottom: '130px', left: '51%'}" arrowStyle="arrow-3">Další krok</info-message>

        <div class="row no-gutters">
            <div class="col-md-7 col-xl-8 responsive-map" v-bind:class="{'closed': responsive.asideVisible}">
                <gmap-map
                        :center="center"
                        :zoom="zoom"
                        v-on:click="movePoint"
                >
                    <!--Search cicle-->
                    <gmap-circle
                            :key="'centerPositinCircle'"
                            :radius="location.radius"
                            :center="location"
                            v-on:click="movePoint"
                            :options="{
                                strokeColor: '#02020c',
                                strokeOpacity: 1,
                                strokeWeight: 1,
                                fillColor: '#131c2c',
                                fillOpacity: 0.2
                              }"
                    ></gmap-circle>
                </gmap-map>
            </div>
            <div
                    class="col-md-5 col-xl-4 responsive-aside"
                    v-bind:class="{'closed': !responsive.asideVisible}"
                    v-touch:swipe="asideSwipe"
            >
                <span class="responsive-aside-toggle" v-on:click="responsive.asideVisible = !responsive.asideVisible">
                    <font-awesome-icon :icon="responsive.asideVisible?'angle-double-right':'angle-double-left'" />
                </span>
                <aside>
                    <vue-scrollbar classes="scrollbar-wrapper" ref="Scrollbar">
                        <div
                                class="scroll-inner"
                                v-touch:swipe="asideSwipe"
                        >
                            <h1>Zadejte pozici na mapě</h1>

                            <ul class="nav nav-tabs nav-fill">
                                <li class="nav-item">
                                    <span class="nav-link" v-bind:class="{'active': tabs.address, 'cursor-pointer': !tabs.address }" v-on:click="changeTab('address')"><font-awesome-icon icon="location-arrow" /> Adresa</span>
                                </li>
                                <li class="nav-item">
                                    <span class="nav-link" v-bind:class="{'active': tabs.coords, 'cursor-pointer': !tabs.coords }" v-on:click="changeTab('coords')"><font-awesome-icon icon="globe" /> Souřadnice</span>
                                </li>
                            </ul>
                            <div v-if="tabs.address">
                                <label>Adresa</label>
                                <div class="form-group">
                                    <gmap-autocomplete
                                            class="form-control"
                                            v-model="address"
                                            v-on:place_changed="searchByAddress"
                                            :selectFirstOnEnter="true"
                                    ></gmap-autocomplete>
                                </div>
                            </div>

                            <div v-if="tabs.coords">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Latitude</label>
                                            <input class="form-control" type="number" step="0.0000001" v-on:keyup="centerMap" v-model.number="location.lat">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Longitude</label>
                                            <input class="form-control" type="number" step="0.0000001" v-on:keyup="centerMap" v-model.number="location.lng">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Poloměr</label>
                                <div class="px-3 pt-1 pb-4">
                                    <vue-slider
                                            v-model="location.radius"
                                            v-bind="rangeSlider.radius.options"
                                            v-on:callback="setZoom"
                                    ></vue-slider>
                                </div>
                            </div>
                        </div>
                    </vue-scrollbar>

                    <div class="next-button">
                        <span class="btn btn-primary cursor-pointer d-block" v-on:click="next('location')">Další</span>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</template>
<script>
    import axios from 'axios';
    import VueScrollbar from 'vue2-scrollbar';
    import vueSlider from 'vue-slider-component'
    import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
    import InfoMessage from '@/components/InfoMessage'


    export default {
        name: 'Location',
        props: ['location', 'next'],
        components: {
            'vue-scrollbar': VueScrollbar,
            'vue-slider': vueSlider,
            'info-message': InfoMessage,
            'font-awesome-icon': FontAwesomeIcon
        },
        data () {
            return {
                address: "",
                center: {
                    lat: this.location.lat,
                    lng: this.location.lng
                },
                zoom: 14,
                tabs: {
                    address: true,
                    coords: false
                },
                responsive: {
                    asideVisible: true
                },
                rangeSlider:{
                    'radius': {
                        options: {
                            width: "100%",
                            height: 8,
                            dotSize: 16,
                            min: 500,
                            max: 10000,
                            piecewise: true,
                            piecewiseLabel: true,
                            formatter: (v) => `${v/1000} km`,
                            data: [
                                500,
                                1000,
                                2000,
                                5000,
                                10000,
                            ],
                            tooltipDir: [
                                "bottom",
                                "bottom"
                            ],
                            processStyle: {
                                "backgroundColor": "#6bdbdc"
                            },
                            tooltipStyle: [
                                {
                                    "backgroundColor": "#6bdbdc",
                                    "borderColor": "#6bdbdc"
                                },
                                {
                                    "backgroundColor": "#4e7175",
                                    "borderColor": "#4e7175"
                                }
                            ]
                        },
                    }
                }
            }
        },
        created(){
            this.setZoom();
        },
        methods: {
            asideSwipe(dir){
                if(dir === "left"){
                    this.responsive.asideVisible = true;
                }else if(dir === "right"){
                    this.responsive.asideVisible = false;
                }
            },
            movePoint(e){
                this.location.lat =  e.latLng.lat();
                this.location.lng = e.latLng.lng();
            },
            searchByAddress(e){
                if(e.geometry){
                    this.location.lat = this.center.lat = e.geometry.location.lat();
                    this.location.lng = this.center.lng = e.geometry.location.lng();
                    this.address = e.formatted_address;
                }
            },
            setZoom(){
                let zoomed = true;
                switch (this.location.radius){
                    case 500:
                        this.zoom = 15;
                        break;
                    case 1000:
                        this.zoom = 14;
                        break;
                    case 2000:
                        this.zoom = 13;
                        break;
                    case 5000:
                        this.zoom = 12;
                        break;
                    case 10000:
                        this.zoom = 11;
                        break;
                    default:
                        this.zoom = 12;
                        zoomed = false;
                }

                if(zoomed){
                    this.centerMap();
                }
            },
            centerMap(){
                this.center.lat = this.location.lat;
                this.center.lng = this.location.lng;
            },
            changeTab(type){
                for(let tab in this.tabs){
                    if (!this.tabs.hasOwnProperty(tab))
                        continue;
                    this.tabs[tab] = false;
                }

                this.tabs[type] = true;
            }
        }
    }
</script>

