<!--
    Component to generate top progress bar
-->

<template>
    <div class="progress-tabs">
        <nav class="navbar navbar-expand navbar-light p-0 justify-content-center">
            <ul class="navbar-nav">
                <li class="nav-item" v-bind:class="{'active': item.active, 'disabled': item.disabled, 'before-active': item.beforeActive}" v-on:click="setActual(key)" v-for="(item, key) in appFlow">
                    <span class="nav-link">{{item.name}}</span>
                </li>
            </ul>
        </nav>
    </div>
</template>
<script>

    export default {
        name: 'Progress',
        props: ['appFlow'],
        data () {
            return {

            }
        },
        methods: {
            setActual(sectionName){
                if(!this.appFlow[sectionName].disabled || process.env.NODE_ENV === "development"){
                    let prevItem = null;

                    for(let section in this.appFlow){
                        if (!this.appFlow.hasOwnProperty(section))
                            continue;
                        this.appFlow[section].active = false;
                        this.appFlow[section].disabled = true;
                        this.appFlow[section].beforeActive = false;
                    }

                    this.appFlow[sectionName].active = true;

                    for(let section in this.appFlow){
                        if (!this.appFlow.hasOwnProperty(section))
                            continue;
                        this.appFlow[section].disabled = false;

                        if(this.appFlow[section].active){
                            if(prevItem !== null){
                                prevItem.beforeActive = true;
                            }
                            return;
                        }

                        prevItem = this.appFlow[section];
                    }
                }
            }
        }
    }
</script>

