<!--
    Component for print and answer questions
-->

<template>
    <div class="questions">
        <info-message :position="{top: '10px', left: '42%'}" arrowStyle="arrow-1">Otázka</info-message>
        <info-message :position="{top: '370px', left: '10%'}" arrowStyle="arrow-2">Odpovědi</info-message>
        <info-message :position="{top: '40%', right: '15%'}" arrowStyle="arrow-5">Seznam otázek</info-message>
        <info-message :position="{bottom: '120px', right: '35%'}" arrowStyle="arrow-3">Další krok</info-message>

        <div class="row no-gutters">
            <div class="col-md-6 col-xl-7 text-center question" v-bind:class="{'closed': responsive.asideVisible}">
                <vue-scrollbar classes="scrollbar-wrapper" ref="ScrollbarQuestion" v-if="actualQuestion.Question !== undefined">
                    <div class="scroll-inner">
                        <h2>{{actualQuestion.Question}}</h2>
                        <div class="d-flex">
                            <div class="answer" v-for="answer in actualQuestion.Answers">
                                <input type="radio" :name="actualQuestion.Id" :value="answer.Item1" v-model="actualQuestion.Answer" class="d-none">
                                <label :for="actualQuestion.Id" class="display-4" v-on:click="change(actualQuestion, answer.Item1)">
                                    <span>{{answer.Item2}}</span>
                                </label>
                            </div>
                        </div>
                        <div class="text-right px-3">
                            <span class="mt-md-5 btn btn-light btn-lg mb-5" v-on:click="change(actualQuestion, null)">
                            Přeskočit
                        </span>
                        </div>
                    </div>
                </vue-scrollbar>
            </div>
            <div
                    class="col-md-6 col-xl-5 responsive-aside"
                    v-bind:class="{'closed': !responsive.asideVisible}"
                    v-touch:swipe="asideSwipe"
            >
                <span class="responsive-aside-toggle" v-on:click="responsive.asideVisible = !responsive.asideVisible">
                    <font-awesome-icon :icon="responsive.asideVisible?'angle-double-right':'angle-double-left'" />
                </span>
                <aside>
                    <vue-scrollbar classes="scrollbar-wrapper" ref="Scrollbar">
                        <div
                                class="scroll-inner"
                                v-touch:swipe="asideSwipe"
                        >
                            <h1>Otázky</h1>
                            <div  v-bind:class="{'row':questionGraph.labels.length > 2}">
                                <div v-bind:class="{'col-md-6':questionGraph.labels.length > 2}">
                                    <ul class="list-group">
                                        <li
                                                class="list-group-item cursor-pointer"
                                                v-bind:class="{'list-group-item-success': item === actualQuestion, 'list-group-item-primary': item.Answer !== null}"
                                                v-for="(item, index) in questions" v-on:click="setActive(item)">
                                            <span class="badge badge-pill badge-primary float-right mt-1">{{findQuestionLabel(item)}}</span> {{item.Question}}
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6" v-if="questionGraph.labels.length > 2">
                                    <chart-radar :dataQuestions="questionGraph" :questions="questions"></chart-radar>
                                </div>
                            </div>
                        </div>
                    </vue-scrollbar>
                    <div class="next-button">
                        <span class="btn btn-primary cursor-pointer d-block" v-on:click="next('questions', true)">Další</span>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</template>


<script>
    import VueScrollbar from 'vue2-scrollbar';
    import RadarChart from '@/components/RadarChart';
    import InfoMessage from '@/components/InfoMessage';
    import FontAwesomeIcon from '@fortawesome/vue-fontawesome';

    export default {
        name: 'Questions',
        props: ['questions', 'next'],
        components:{
            'vue-scrollbar': VueScrollbar,
            'info-message': InfoMessage,
            'font-awesome-icon': FontAwesomeIcon,
            'chart-radar': RadarChart
        },
        data(){
            return{
                responsive: {
                    asideVisible: false
                },
                actualQuestion: {}
            }
        },
        created(){
            this.actualQuestion = this.questions[0];
        },
        computed: {
            questionGraph: function () {
                let labels = [];
                let answers = [];
                for(let question of this.questions){
                    if(question.Answer!==null){
                        labels.push(question.QuestionShort);
                        answers.push(question.Answer);
                    }
                }

                return {
                    labels: labels,
                    datasets: [{
                        label: 'Otázky',
                        borderColor: '#218c8d',
                        backgroundColor: 'rgba(21, 89, 89, 0.35)',
                        data: answers
                    }]
                };
            }
        },
        methods:{
            asideSwipe(dir){
                if(dir === "left"){
                    this.responsive.asideVisible = true;
                }else if(dir === "right"){
                    this.responsive.asideVisible = false;
                }
            },
            /**
             * Find label of answers for real estate
             */
            findQuestionLabel(question){
                if(question.Answer === null){
                    return '';
                }

                return question.Answers.find(function (el) {
                    return el.Item1 === question.Answer;
                }).Item2;
            },
            setActive(item){
                this.actualQuestion = item;
                this.responsive.asideVisible = false;
                this.$refs.ScrollbarQuestion.scrollToY(0);
            },
            change(item, selected){
                item.Answer = selected;
                let index = this.questions.indexOf(item);

                if((index+1) !== this.questions.length){
                    this.setActive(this.questions[index+1]);
                    this.$refs.ScrollbarQuestion.scrollToY(0);
                }else{
                    this.next('questions');
                }
            }
        }
    }
</script>

