<!--
    Component to print detail
-->

<template>
    <div class="detail">
        <vue-scrollbar classes="scrollbar-wrapper" ref="Scrollbar" v-if="detail !== null">
            <div
                    class="scroll-inner"
                    v-touch:swipe="asideSwipe"
            >
                <div class="p-3">
                    <div v-bind:class="{'row': questionGraph.labels.length > 2}">
                        <div class="mb-3" v-bind:class="{'col-xl-8': questionGraph.labels.length > 2}">
                            <h3 class="display-4"><span class="badge badge-primary badge-pill">{{detail.Percentage}}%</span><br> {{detail.Name}}</h3>
                        </div>
                        <div class="mb-5 col-xl-3" v-if="questionGraph.labels.length > 2" >
                            <div class="mx-auto" style="max-width: 320px;">
                                <chart-radar :dataQuestions="questionGraph" :dataRealEstate="realEstateGraph" :questions="questions"></chart-radar>
                            </div>
                        </div>
                    </div>
                    <h4><font-awesome-icon icon="info" fixed-width /> Popisek</h4>
                    <p class="mb-5">{{detail.InfoText}}</p>
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <h4><font-awesome-icon icon="home" fixed-width /> Adresa</h4>
                            <p class="mb-0">{{detail.Address}}</p>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h4><font-awesome-icon icon="money-bill-alt" fixed-width /> Cena</h4>
                            <p class="mb-0 big-text">{{detail.PriceNice}} Kč {{detail.PriceUnit}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <h4><font-awesome-icon icon="question" fixed-width /> Odpovědi</h4>
                            <ul class="list-group list-group-flush mb-3">
                                <li class="list-group-item" v-for="poi in detail.PoiData" >
                                    <font-awesome-icon :class="isSelected(poi)?'text-success':'text-danger'" :icon="isSelected(poi)?'check':'times'" fixed-width /> {{poi.Question}} <font-awesome-icon icon="long-arrow-alt-right" /> {{findQuestionLabel(poi)}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h4><font-awesome-icon icon="map-marker-alt" fixed-width /> Body zájmu v okolí</h4>
                            <ul class="list-group list-group-flush mb-3">
                                <li
                                    v-for="(poi, index) in detail.PoiData"
                                    class="list-group-item cursor-pointer"
                                    v-bind:class="{'list-group-item-light': poi.Hover}"
                                    v-on:mouseover="poi.Hover = true"
                                    v-on:mouseleave="poi.Hover = false"
                                    v-on:click="setClickedOnMap(poi, index)"
                                >
                                    <strong>{{poi.QuestionShort}}</strong>
                                    <br><img :src="poi.Icon" :alt="poi.Id" style="max-width: 20px;" v-if="poi.Icon"> {{poi.Name}} <small class="text-muted" v-if="poi.Distance">{{poi.Distance}} m</small>
                                    <br><small class="text-muted">{{poi.Address}}</small>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <h4><font-awesome-icon icon="map-signs" fixed-width /> Zajímavosti v okolí</h4>
                            <ul class="list-group list-group-flush mb-3">
                                <li class="list-group-item" v-if="interest.Value >= 0" v-for="interest in detail.Interests">{{interest.Name}} <font-awesome-icon icon="long-arrow-alt-right" /> {{valueOfInterests(interest.Value)}}</li>
                            </ul>
                        </div>
                        <div class="col-md-6 mb-5">
                            <h4><font-awesome-icon icon="heart" fixed-width /> Oblíbená místa</h4>
                            <table class="table">
                                <tbody>
                                <tr v-for="place in detail.FavoritePlace" v-bind:class="{'table-light': place.Hover}" v-on:mouseover="place.Hover = true" v-on:mouseleave="place.Hover = false">
                                    <td>{{place.Name}}</td>
                                    <td style="white-space: nowrap;"><font-awesome-icon :icon='iconOfValueFavoritePlace(place.Rate)' fixed-width :class="classOfIconFavoritePlace(place.Rate)" /> {{valueOfFavoritePlace(place.Rate)}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </vue-scrollbar>
    </div>
</template>


<script>
    import VueScrollbar from 'vue2-scrollbar';
    import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
    import RadarChart from '@/components/RadarChart';

    export default {
        name: 'ResultDetail',
        props: ['detail', 'questions', 'setClickedOnMap', 'asideSwipe'],
        components: {
            'vue-scrollbar': VueScrollbar,
            'font-awesome-icon': FontAwesomeIcon,
            'chart-radar': RadarChart
        },
        data () {
            return {
            }
        },
        computed: {
            questionGraph: function () {
                let labels = [];
                let answers = [];
                for(let question of this.questions){
                    if(question.Answer!==null){
                        labels.push(question.QuestionShort);
                        answers.push(question.Answer);
                    }
                }

                return {
                    labels: labels,
                    datasets: [{
                        label: 'Otázky',
                        borderColor: '#218c8d',
                        backgroundColor: 'rgba(21, 89, 89, 0.35)',
                        data: answers
                    }]
                };
            },
            realEstateGraph: function () {
                let labels = [];
                let answers = [];
                for(let question of this.detail.PoiData){
                    if(question.Answer!==null){
                        labels.push(question.QuestionShort);
                        answers.push(question.Answer);
                    }
                }

                return {
                    labels: labels,
                    datasets: [{
                        label: 'Nemovitost',
                        borderColor: '#20c997',
                        backgroundColor: 'transparent',
                        data: answers
                    }]
                };
            },
        },
        methods: {
            /**
             * Find label of answers for real estate
             */
            findQuestionLabel(poi){
                return this.questions.find(function (el) {
                    return el.Id === poi.Id;
                }).Answers.find(function (el) {
                    return el.Item1 === poi.Answer;
                }).Item2
            },
            /**
             * In list of result show same answer of real estate like user answered
             */
            isSelected(poi){
                return this.questions.find((el) => {
                    return el.Id === poi.Id && el.Answer === poi.Answer;
                });
            },
            valueOfInterests(val){
                if(val> 0.8){
                    return "Bez omezení";
                }else if(val> 0.3){
                    return "Pomalá";
                }else if(val > 0){
                    return "Nehybná";
                }else{
                    return "Data nenalezena";
                }
            },
            iconOfValueFavoritePlace(val){
                switch (val){
                    case 1:
                        return "frown";
                        break;
                    case 2:
                        return "meh";
                        break;
                    case 3:
                        return "smile";
                        break;
                    default:
                        return "";
                }
            },
            valueOfFavoritePlace(val){
                switch (val){
                    case 1:
                        return "Daleko";
                        break;
                    case 2:
                        return "Není moc daleko";
                        break;
                    case 3:
                        return "Kousek";
                        break;
                    default:
                        return "";
                }
            },
            classOfIconFavoritePlace(val){
                switch (val){
                    case 1:
                        return "text-danger";
                        break;
                    case 2:
                        return "text-warning";
                        break;
                    case 3:
                        return "text-success";
                        break;
                    default:
                        return "";
                }
            }
        }
    }
</script>

