<!--
    Google map Component to show POI and real states on map
-->

<template>
    <div class="google-map" v-bind:class="{'big-map': !detailVisible}">
        <gmap-map
                :center="activeRealEstate.Location"
                :zoom="zoom"
        >

            <gmap-info-window
                    :position="infoWindowPos"
                    :opened="infoWinOpen"
                    v-on:closeclick="infoWinOpen=false"
                    :options=" {
                        pixelOffset: {
                          width: 0,
                          height: -25
                        }
                      }"
            >
                <span v-html="infoContent"></span>
            </gmap-info-window>
            <!--Closest Poi-->
            <gmap-marker
                    v-if="detailVisible"
                    v-for="(item, index) in activeRealEstate.PoiData"
                    :key="index+'-poi'"
                    :position="item.Location"
                    :icon="{url: item.Hover?'http://maps.google.com/mapfiles/ms/icons/green-dot.png':'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'}"
                    :clickable="true"
                    @click="toggleInfoWindow(item,index)"
            >
            </gmap-marker>

            <!--Favorite Place-->
            <gmap-marker
                    v-if="detailVisible && item.Hover"
                    v-for="(item, index) in activeRealEstate.FavoritePlace"
                    :key="index+'-FavoritePlace'"
                    :position="item.Location"
                    :icon="{url: 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png'}"
            ></gmap-marker>

            <!--Parh from Favorite place to actual real estate-->
            <gmap-polyline
                    v-if="detailVisible && item.Hover"
                    v-for="(item, index) in activeRealEstate.FavoritePlace"
                    :key="index+'-polylineFavoritePlace'"
                    :path="[item.Location, activeRealEstate.Location]"
                    :options="{
                                strokeColor: '#02020c',
                                strokeOpacity: 1,
                                strokeWeight: 1,
                              }"
            ></gmap-polyline>

            <!--Real Estates-->
            <gmap-marker
                    v-if="detailVisible"
                    :key="'active-realEstate'"
                    :position="activeRealEstate.Location"
            ></gmap-marker>

            <!--All real estates-->
            <gmap-marker
                    v-if="!detailVisible"
                    v-for="(item, index) in resultData"
                    :key="index+'-realEstate'"
                    :position="item.Location"
                    v-on:click="showDetail(item)"
            ></gmap-marker>


            <!--Parh from Poi to actual real estate-->
            <gmap-polyline
                    v-if="detailVisible"
                    v-for="(item, index) in activeRealEstate.PoiData"
                    :key="index+'-polyline'"
                    :path="[item.Location, activeRealEstate.Location]"
                    :options="{
                                strokeColor: '#02020c',
                                strokeOpacity: 1,
                                strokeWeight: 1,
                              }"
            ></gmap-polyline>
        </gmap-map>
    </div>
</template>


<script>
    export default {
        name: 'ResultGoogleMap',
        props: ['searchData', 'resultData', 'activeRealEstate', 'detailVisible', 'showDetail', 'clickedOnMap'],
        data(){
          return{
              zoom: 14,
              infoContent: '',
              infoWindowPos: {
                  lat: 0,
                  lng: 0
              },
              infoWinOpen: false,
              currentMidx: null,
          }
        },
        computed:{
            clickedOnMapIterator(){
                return this.clickedOnMap.iterator;
            }
        },
        watch: {
            activeRealEstate(){
                this.infoWinOpen = false;
            },
            detailVisible(){
                this.infoWinOpen = false;
            },
            clickedOnMapIterator(val, oldVal){
                this.toggleInfoWindow(this.clickedOnMap.item,this.clickedOnMap.index);
            },
        },
        created(){

            switch (this.searchData.radius){
                case 500:
                    this.zoom = 15;
                    break;
                case 1000:
                    this.zoom = 14;
                    break;
                case 2000:
                    this.zoom = 13;
                    break;
                case 5000:
                    this.zoom = 12;
                    break;
                case 10000:
                    this.zoom = 11;
                    break;
                default:
                    this.zoom = 12;
            }
        },
        methods:{
            toggleInfoWindow: function(point, idx) {
                this.infoWindowPos = point.Location;
                this.infoContent = '<h5 style="margin: 0 0 5px;">'+point.QuestionShort+'</h5><h6 style="margin: 0;">'+point.Name+'</h6><span>'+point.Distance+'m<br>'+point.Address+'</span>';

                if (this.currentMidx == idx) {
                    this.infoWinOpen = !this.infoWinOpen;
                }
                else {
                    this.infoWinOpen = true;
                    this.currentMidx = idx;
                }
            }
        }
    }
</script>

