<!--
    Component to print result, filter it and choose detail
-->

<template>
    <div class="result">
        <info-message :position="{top: '0%', left: '35%'}" arrowStyle="arrow-1">Filtrování výsledku</info-message>
        <info-message :position="{top: '200px', left: '27%'}" arrowStyle="arrow-4">Seznam nalezených realit</info-message>
        <info-message :position="{top: detailVisible?'22%':'66%', left: '77%'}" arrowStyle="arrow-5">Pozice na mapě</info-message>
        <info-message v-if="detailVisible" :position="{bottom: '150px', left: '77%'}" arrowStyle="arrow-4">Detail reality</info-message>
        <info-message :position="{bottom: '88px', left: '34%'}" arrowStyle="arrow-1">Odeslat emailem</info-message>

        <div class="row no-gutters">
            <div class="col-md-5 col-xl-4">
                <aside>
                    <vue-scrollbar classes="scrollbar-wrapper" ref="Scrollbar">
                        <div class="scroll-inner">
                            <div class="clearfix">
                                <div class="float-left">
                                    <h1>Výsledky</h1>
                                </div>
                                <div class="float-right mt-xl-3 mt-lg-2 mt-1">
                                    <span class="btn btn-outline-primary cursor-pointer" v-on:click="filterVisible = !filterVisible">
                                        <font-awesome-icon icon="filter" />
                                    </span>
                                </div>
                            </div>

                            <div class="px-5 py-1 mb-5" v-if="filterVisible">
                                <p class="mb-0">Procenta</p>
                                <vue-slider
                                        v-model="rangeSlider.percent.value"
                                        v-bind="rangeSlider.percent.options"
                                ></vue-slider>
                                <p class="mt-5 mb-0">Cena<span v-if="tabs.sale"> celkem</span><span v-if="tabs.rent"> měsíčně</span></p>
                                <vue-slider
                                        v-model="rangeSlider.price.value"
                                        v-bind="rangeSlider.price.options"
                                ></vue-slider>
                            </div>

                            <ul class="nav nav-tabs nav-fill" v-if="hasCategory.rent && hasCategory.sale">
                                <li class="nav-item">
                                    <span class="nav-link" v-bind:class="{'active': tabs.sale, 'cursor-pointer': !tabs.sale }" v-on:click="changeTab('sale')">Prodej</span>
                                </li>
                                <li class="nav-item">
                                    <span class="nav-link" v-bind:class="{'active': tabs.rent, 'cursor-pointer': !tabs.rent }" v-on:click="changeTab('rent')">Pronájem</span>
                                </li>
                            </ul>

                            <ul class="list-group">
                                <li class="list-group-item cursor-pointer" v-for="item in filteredRealEstates" v-on:click="showDetail(item)">
                                    <span class="badge badge-primary badge-pill">{{item.Percentage}}%</span>
                                    {{item.Name}}
                                </li>
                            </ul>
                        </div>
                    </vue-scrollbar>

                    <div class="next-button">
                        <span class="btn btn-primary cursor-pointer d-block" v-on:click="showSaveModal = true"><font-awesome-icon icon="save" /> Uložit</span>
                    </div>
                </aside>
            </div>

            <div class="col-md-7 col-xl-8 responsive-result-detail" v-bind:class="{'closed': !responsive.detailVisible}">
                <google-map
                        :searchData="searchLocation"
                        :resultData="filteredRealEstates"
                        :activeRealEstate="activeRealEstate"
                        :detailVisible="detailVisible"
                        :showDetail="showDetail"
                        :clickedOnMap="clickedOnMap"
                ></google-map>
                <span
                        class="responsive-result-detail-hide"
                        v-if="detailVisible"
                        v-on:click="responsive.detailVisible = false; detailVisible = false;"
                        v-touch:swipe="asideSwipe"
                >
                    <font-awesome-icon icon="angle-double-left" /> Zavřít
                </span>
                <detail
                        :detail="activeRealEstate"
                        :questions="questions"
                        v-if="detailVisible"
                        :setClickedOnMap="setClickedOnMap"
                        :asideSwipe="asideSwipe"
                ></detail>
            </div>
        </div>

        <save v-if="showSaveModal" :close="closeModal"></save>
    </div>
</template>


<script>
    import Gmap from '@/components/ResultGoogleMap';
    import Detail from '@/components/ResultDetail';
    import Save from '@/components/Save';
    import VueScrollbar from 'vue2-scrollbar';
    import vueSlider from 'vue-slider-component'
    import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
    import InfoMessage from '@/components/InfoMessage'

    export default {
        name: 'Result',
        components: {
            'google-map': Gmap,
            'detail': Detail,
            'save': Save,
            'vue-scrollbar': VueScrollbar,
            'vue-slider': vueSlider,
            'font-awesome-icon': FontAwesomeIcon,
            'info-message': InfoMessage
        },
        props: ['result', 'questions', 'searchLocation'],
        data () {
            return {
                clickedOnMap: {
                    item: null,
                    index: null,
                    iterator: 0
                },
                activeRealEstate: {
                    PoiData: [],
                    Location: this.searchLocation,
                },
                detailVisible: false,
                showSaveModal: false,
                tabs:{
                    sale: true,
                    rent: false
                },
                responsive: {
                    detailVisible: false
                },
                hasCategory:{
                    rent: true,
                    sale: true
                },
                filterVisible: false,
                rangeSlider:{
                    'percent': {
                        value: [0, 100],
                        options: {
                            width: "100%",
                            height: 8,
                            dotSize: 16,
                            min: 0,
                            max: 100,
                            formatter: "{value}%",
                            tooltipDir: [
                                "bottom",
                                "bottom"
                            ],
                            processStyle: {
                                "backgroundImage": "-webkit-linear-gradient(left, #6bdbdc, #4e7175)"
                            },
                            tooltipStyle: [
                                {
                                    "backgroundColor": "#6bdbdc",
                                    "borderColor": "#6bdbdc"
                                },
                                {
                                    "backgroundColor": "#4e7175",
                                    "borderColor": "#4e7175"
                                }
                            ]
                        },
                    },
                    'price': {
                        value: [0, 10000],
                        options: {
                            width: "100%",
                            height: 8,
                            dotSize: 16,
                            min: 0,
                            max: 10000,
                            formatter: "{value} Kč",
                            tooltipDir: [
                                "bottom",
                                "bottom"
                            ],
                            processStyle: {
                                "backgroundImage": "-webkit-linear-gradient(left, #6bdbdc, #4e7175)"
                            },
                            tooltipStyle: [
                                {
                                    "backgroundColor": "#6bdbdc",
                                    "borderColor": "#6bdbdc"
                                },
                                {
                                    "backgroundColor": "#4e7175",
                                    "borderColor": "#4e7175"
                                }
                            ]
                        },
                    }
                }
            }
        },
        created(){
            this.setMaxPrice();
            this.hasCategory.sale = this.result.find(x =>{
                return x.Type === "sale";
            })!==undefined;
            this.hasCategory.rent = this.result.find(x =>{
                    return x.Type === "rent";
                })!==undefined;

            if(this.hasCategory.sale && !this.hasCategory.rent){
                this.changeTab('sale');
            }else if(!this.hasCategory.sale && this.hasCategory.rent){
                this.changeTab('rent');
            }
        },
        computed: {
            filteredRealEstates() {
                return this.result.filter(item => {
                    return (item.Percentage >= this.rangeSlider.percent.value[0] && item.Percentage <= this.rangeSlider.percent.value[1])
                        && ((this.tabs.sale && item.Type === "sale") || (this.tabs.rent && item.Type === "rent"))
                        && (item.Price >= this.rangeSlider.price.value[0] && item.Price <= this.rangeSlider.price.value[1])
                });
            }
        },
        methods: {
            asideSwipe(dir){
                if(dir === "right"){
                    this.responsive.detailVisible = false;
                    this.detailVisible = false;
                }
            },
            setClickedOnMap(item, index){
                this.clickedOnMap.iterator++;
                this.clickedOnMap.item = item;
                this.clickedOnMap.index = index;
            },
            closeModal(){
                this.showSaveModal = false;
            },
            /**
             * Show active real estate on map
             */
            showDetail(detail){
                this.detailVisible = true;
                this.responsive.detailVisible = true;
                let realEstate = this.result.find(function (el) {
                    return el.Id === detail.Id;
                });
                let index = this.result.indexOf(realEstate);
                if(this.result[index].detail){
                    this.activeRealEstate = this.result[index]===null?detail:this.result[index];
                    return;
                }

                this.connection.get('/api/search/'+detail.Id).then(response =>{
                    let serverData = JSON.parse(response.data);
                    if(serverData.Status !== "OK"){
                        new Error(this.$router, response.data);
                        return false;
                    }

                    this.result[index] = serverData.Data;
                    this.result[index].detail = true;
                    this.activeRealEstate = this.result[index]===null?detail:this.result[index];

                    let thisQuestions = this.questions;
                    this.activeRealEstate.PoiData = this.activeRealEstate.PoiData.filter(function(poi){
                        let question = thisQuestions.find(function(question){
                            return question.Id === poi.Id;
                        });
                        return question.Answer !== null;
                    });

                    this.activeRealEstate.rendered = true;
                }).catch(err =>{
                    new Error(this.$router, err);
                });
            },
            /**
             * Find label of answers for real estate
             */
            findQuestionLabel(poi){
                return this.questions.find(function (el) {
                    return el.Id === poi.Id;
                }).Answers.find(function (el) {
                    return el.Item1 === poi.Answer;
                }).Item2
            },
            /**
             * In list of result show same answer of real estate like user answered
             */
            isSelected(poi){
                return this.questions.find((el) => {
                    return el.Id === poi.Id && el.Answer === poi.Answer;
                });
            },
            changeTab(type){
                for(let tab in this.tabs){
                    if (!this.tabs.hasOwnProperty(tab))
                        continue;
                    this.tabs[tab] = false;
                }

                this.tabs[type] = true;

                this.setMaxPrice();
            },
            setMaxPrice(){
                let thisResultTypeOnly = this.result.filter(item => {
                    return ((this.tabs.sale && item.Type === "sale") || (this.tabs.rent && item.Type === "rent"));
                });

                let maxPrice = Math.max.apply(Math, thisResultTypeOnly.map(function(o){return o.Price;}));

                this.rangeSlider.price.options.max = maxPrice;
                this.rangeSlider.price.value = [0, maxPrice];
            }
        }
    }
</script>

