<!--
    Component to add email and send to server to save data and send email
-->

<template>
    <div class="modal-mask" v-on:click="close()">
        <div class="modal-wrapper">
            <div class="modal-container"v-on:click.stop="">
                <span class="close" v-on:click="close()">X</span>
                <div class="modal-body">
                    <h1 class="text-center">Uložit</h1>
                    <div class="save">
                        <form v-on:submit.prevent="saveResult" v-if="!success" class="mb-2">
                            <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-lg">Email</span>
                                </div>
                                <input type="email" required class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" v-model="email">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">Uložit</button>
                                </div>
                            </div>
                        </form>
                        <p class="alert alert-primary text-center" v-if="loading">
                            Ukládám
                        </p>
                        <p class="alert alert-success text-center" v-if="success">
                            Uložení bylo odesláno na zadaný email.
                        </p>
                        <p class="alert alert-danger text-center" v-if="error">
                            Něco se pokazilo. Prosím, zkuste to znovu.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


<script>

    export default {
        name: 'Save',
        props: ['close'],
        data () {
            return {
                email: '',
                success: false,
                error: false,
                loading: false,
            }
        },
        methods: {
            saveResult(){
                this.success = false;
                this.error = false;
                this.loading = true;
                this.connection.post('/api/save', JSON.stringify({email: this.email})).then(response =>{let serverData = JSON.parse(response.data);
                    this.loading = false;
                    if(serverData.Status !== "OK"){
                        this.error = true;
                        return false;
                    }

                    this.success = true;

                }).catch(err =>{
                    this.error = true;
                    this.loading = false;
                });
            }
        }
    }
</script>

